@import url('https://fonts.googleapis.com/css?family=Cairo:300,700|Montserrat');

/*=====================================
Global Style
=======================================*/

* {
	outline: none;
}
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	overflow-x: hidden;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

::-moz-selection {
	background: #2bcbba;
	color: rgb(255, 255, 255);
}

::selection {
	background: #2bcbba;
	color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
	background: rgb(233, 233, 233);
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: rgb(38, 180, 165);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(54, 221, 203);
}

::-webkit-scrollbar-thumb:active {
	background: rgb(22, 134, 122);
}

.home::-webkit-scrollbar-thumb {
	background: rgb(75, 123, 236);
}

.home::-webkit-scrollbar-thumb:hover {
	background: rgb(91, 140, 254);
}

.home::-webkit-scrollbar-thumb:active {
	background: rgb(49, 93, 195);
}

body {
	background: white;
	font-family: 'Cairo', sans-serif;
	color: rgb(34, 34, 34);
	direction: rtl;
	position: relative;
	z-index: -100;
}

li {
	margin-right: 20px;
}

a {
	color: #4b7bec;
}

pre {
	direction: ltr;
	overflow-x: auto;
}


/*=====================================
Navbar Style
=======================================*/

.navbar {
	background: #2bcbba;
	width: 100%;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.11);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.11);
	padding: 0 0 0 45px;
	height: 60px;
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	top: 0;
}

.navbar-brand {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navbar-brand div {
	background: #0c655b;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 5px 50px;
	border: 5px solid white;
	border-width: 0 5px;
}

@media screen and (max-width:380px) {
	.navbar-brand {
		background: red;
		position: absolute;
		-ms-flex-item-align: center;
		-ms-grid-row-align: center;
		align-self: center;
		right: auto;
		left: 20px;
		min-width: 100px;
	}
	.navbar-brand div {
		font-size: 1rem;
		padding: 3px 30px;
	}
}


/*===Icon Style===*/

.icon-container {
	visibility: hidden;
	position: absolute;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	right: 10px;
}

.humberger-icon {
	position: relative;
	cursor: pointer;
}

.humberger-icon span {
	display: block;
	background: white;
	width: 35px;
	height: 5px;
	margin: 5px;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
}

.humberger-icon span::before {
	background: #0c655b;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: -100%;
	-webkit-transition: right .25s ease;
	-o-transition: right .25s ease;
	transition: right .25s ease;
}

.humberger-icon:hover span::before {
	right: 0;
	-webkit-transition: right .25s ease;
	-o-transition: right .25s ease;
	transition: right .25s ease;
}

.humberger-icon:hover span:nth-of-type(2)::before {
	-webkit-transition-delay: .05s;
	-o-transition-delay: .05s;
	transition-delay: .05s;
}

.humberger-icon:hover span:nth-of-type(1)::before {
	-webkit-transition-delay: .1s;
	-o-transition-delay: .1s;
	transition-delay: .1s;
}

.navbar-nav {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	-webkit-box-flex: 3;
	-ms-flex: 3;
	flex: 3;
}


/*===Nav Style===*/

nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	width: 100%;
}

nav a {
	width: 120px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2rem;
	color: rgb(255, 244, 244);
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 0 0 #0c655b inset;
	box-shadow: 0 0 #0c655b inset;
	-webkit-transition: -webkit-box-shadow .3s ease;
	transition: -webkit-box-shadow .3s ease;
	-o-transition: box-shadow .3s ease;
	transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
}

nav a:hover {
	background: #1fab9c;
	-webkit-box-shadow: 0 -5px #0c655b inset;
	box-shadow: 0 -5px #0c655b inset;
	-webkit-transition: -webkit-box-shadow .3s ease;
	transition: -webkit-box-shadow .3s ease;
	-o-transition: box-shadow .3s ease;
	transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
}

.close {
	display: none;
}

@media screen and (max-width:1080px) {
	nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		position: absolute;
		background: #2bcbba;
		width: 320px;
		height: 100vh;
		top: 0;
		right: -320px;
		padding-top: 80px;
		-webkit-transition: right 0.5s ease-in-out;
		-o-transition: right 0.5s ease-in-out;
		transition: right 0.5s ease-in-out;
		z-index: 2;
	}
	.move nav {
		right: 0;
		-webkit-transition: right 0.5s ease-in-out;
		-o-transition: right 0.5s ease-in-out;
		transition: right 0.5s ease-in-out;
	}
	nav a {
		width: 100%;
		height: 80px;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		padding-right: 30px;
	}
	.close {
		display: block;
		width: 100%;
		height: 80px;
		position: absolute;
		top: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		color: white;
	}
	.close svg {
		margin: 20px;
		-webkit-transform: scale(2) translateY(1px);
		-ms-transform: scale(2) translateY(1px);
		transform: scale(2) translateY(1px);
		cursor: pointer;
	}
	.close svg:hover path {
		fill: #0c655b;
	}
	.icon-container {
		visibility: visible;
	}
}

.home .navbar {
	display: none;
}

.home .navbar-brand {
	width: 300px;
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 5;
}

.home .navbar-brand div {
	background: rgba(142, 53, 105, 0.7490196078431373);
}

@media screen and (max-width:380px) {
	.home .navbar-brand {
		background: transparent;
		width: 220px;
	}
}


/*=====================================
Container Style
=======================================*/

.container {
	width: 80%;
	margin: auto;
	position: relative;
	top: 130px;
	z-index: -1;
	padding-right: 300px;
	min-width: 1000px;
	line-height: 40px;
}

.container.fix {
	padding-right: 0;
}

@media screen and (max-width:1080px) {
	.container {
		width: 95%;
		min-width: 300px;
		margin: auto;
		padding-right: 0;
	}
}

hr {
	background: #2bcbba;
	border: 0;
	height: 2px;
	width: 95%;
	margin: 10px auto;
}

.image {
	max-width: 100%;
	max-height: 100%;
	margin-top: 20px;
}

.lightbox-wrapper{
	text-align: right;
}

/*=====================================
Button Style
=======================================*/

.navigate {
	position: relative;
	width: 500px;
	margin: 60px auto 0;
	padding-bottom: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.navigate a {
	background: #2bcbba;
	border: 0;
	width: 45%;
	padding: 10px 0;
	text-transform: uppercase;
	border-radius: 5px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	font-size: 1.3rem;
	font-family: 'Cairo', sans-serif;
	cursor: pointer;
	text-decoration: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navigate a::before {
	content: '';
	position: absolute;
	width: 100%;
	background: rgba(255, 255, 255, .15);
	height: 100%;
	left: -100%;
	-webkit-transition: left .3s ease;
	-o-transition: left .3s ease;
	transition: left .3s ease;
}

.navigate a:hover::before {
	-webkit-transition: left .3s ease;
	-o-transition: left .3s ease;
	transition: left .3s ease;
	left: 0;
}

.navigate a:active {
	background: rgb(33, 161, 147);
}

.navigate a.disabled {
	background: grey;
	color: white;
	pointer-events: none;
}

.navigate a.disabled::before {
	background: transparent;
}

@media screen and (max-width:530px) {
	.navigate {
		min-width: 300px;
		width: 95%;
	}
}


/*=====================================
background-image Style
=======================================*/




.background-image {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 0, 255, 0.8)), to(rgba(202, 62, 75, 0.8))), url(../images/home_background.jpg);
	background-image: -webkit-linear-gradient(rgba(84, 0, 255, 0.8), rgba(202, 62, 75, 0.8)), url(../images/home_background.jpg);
	background-image: -o-linear-gradient(rgba(84, 0, 255, 0.8), rgba(202, 62, 75, 0.8)), url(../images/home_background.jpg);
	background-image: linear-gradient(rgba(84, 0, 255, 0.8), rgba(202, 62, 75, 0.8)), url(../images/home_background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	position: relative;
}

.background-image * {
	font-family: 'Cairo', sans-serif;
}

.background-image p {
	margin: 30px auto 50px;
	width: 90%;
	max-width: 600px;
	font-size: 1.2rem;
}

.background-image a.link {
	font-size: 2rem;
	padding: 10px 80px;
	background: #4b7bec;
	color: white;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

.background-image a.link::before {
	content: '';
	position: absolute;
	width: 100%;
	background: rgba(255, 255, 255, .15);
	height: 100%;
	left: -100%;
	top: 0;
	-webkit-transition: left .3s ease;
	-o-transition: left .3s ease;
	transition: left .3s ease;
}

.background-image a.link:hover::before {
	-webkit-transition: left .3s ease;
	-o-transition: left .3s ease;
	transition: left .3s ease;
	left: 0;
}

.background-image a.link:active {
	background: rgb(60, 105, 210);
}

.background-image .course {
	position: absolute;
	background: #4b7bec;
	height: 35px;
	width: 35px;
	font-size: 1.3rem;
	border-radius: 50%;
	cursor: pointer;
	bottom: 40px;
	overflow: hidden;
}

.background-image .course a {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

@media screen and (max-width:400px) {
	.background-image a.link {
		padding: 2.5px 40px;
	}
}


/*=====================================
Main Style
=======================================*/

.beauty-box {
	background: rgb(239, 235, 233);
	width: 100%;
	padding: 150px 0 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: -50;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.title {
	position: absolute;
	height: 100px;
	top: 85px;
	margin-top: -50px;
	font-size: 2.5rem;
	color: rgb(62, 39, 35);
}

.beauty-box .title::before,
.beauty-box .title::after{
	content: '';
	background: rgb(62, 39, 35);
	width: 60px;
	height: 5px;
	top: 43px;
	position: absolute;

}
.beauty-box .title::before{
	left: -70px;
}
.beauty-box .title::after{
	right: -70px;
}


@media screen and (max-width:400px) {
	.beauty-box .title {
		font-size: 2rem;
	}
	.beauty-box .title::before {
		left: -70px;
		top: 35px;
	}
	.beauty-box .title::after {
		right: -70px;
		top: 35px;
	}
}

.beauty-box .courses_container {
	width: 85%;
	max-width: 960px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	counter-reset: boxSection;
}

.beauty-box .box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	direction: ltr;
	width: 100%;
	height: 320px;
	margin: 20px auto;
	-webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
	box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
	cursor: pointer;
	-webkit-transition: -webkit-box-shadow .2s ease-in-out;
	transition: -webkit-box-shadow .2s ease-in-out;
	-o-transition: box-shadow .2s ease-in-out;
	transition: box-shadow .2s ease-in-out;
	transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
	position: relative;
	border-radius: 5px;
}

.beauty-box .box::before {
	counter-increment: boxSection;
	content: counter(boxSection, upper-roman);
	position: absolute;
	background: #4b7bec;
	width: 50px;
	height: 50px;
	border-radius: 0 5px 5px 0;
	right: -50px;
	top: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: bold;
	font-size: 2rem;
	color: #0c296f;
	-webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2), 2px 0 2px rgba(0, 0, 0, .1) inset;
	box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2), 2px 0 2px rgba(0, 0, 0, .1) inset;
}

.beauty-box .box:first-of-type::after {
	content: '';
	right: -25px;
	width: 2px;
	top: 30px;
	position: absolute;
	background: rgba(30, 8, 2, 0.24);
	z-index: -2;
}

.beauty-box .box:hover,
.beauty-box .box:hover::before {
	-webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
	box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
	-webkit-transition: -webkit-box-shadow .2s ease-in-out;
	transition: -webkit-box-shadow .2s ease-in-out;
	-o-transition: box-shadow .2s ease-in-out;
	transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.beauty-box .courses_image {
	min-width: 300px;
	background: -webkit-linear-gradient(45deg, rgb(198, 189, 187), #efebe9);
	background: -o-linear-gradient(45deg, rgb(198, 189, 187), #efebe9);
	background: linear-gradient(45deg, rgb(198, 189, 187), #efebe9);
	border-radius: 5px 0 0 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.beauty-box .text {
	padding: .875rem 2.625rem;
	padding-top: 3rem;
	direction: rtl;
	background: #fdfdfd;
	border-radius: 0 5px 5px 0;
	position: relative;
}

.beauty-box .button-link {
	background: #4b7bec;
	color: #fff;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 5px 45px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
	border-radius: 5px;
	position: absolute;
	bottom: 25px;
	z-index: 10;
	-webkit-box-shadow: none;
	box-shadow: none;
	transition: all .3s;
	font-weight: 600;

}

.beauty-box .button-link:hover {
	background: #5e8bf4;
	-webkit-box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, .1);
	box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, .1);
}

.beauty-box .box-link {
	width: 100%;
	height: 100%;
	position: absolute;
}

.beauty-box hr {
	position: absolute;
	bottom: 20px;
	right: 0;
	width: 100%;
}

.beauty-box .project img {
	border-radius: 5px 0 0 5px;
}

@media screen and (max-width:850px) {
	.beauty-box .box {
		width: 80vw;
		height: auto;
	}
	.beauty-box .courses_image {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		position: absolute;
		background: transparent;
		height: 100%;
		width: 100%;
	}
	.beauty-box .project .courses_image img {
		border-radius: 50%;
		width: 200px;
		height: 200px;
	}
	.beauty-box .text {
		padding-bottom: 50px;
		padding-top: 50px;
		background: rgba(255, 255, 255, 0.9);
		border-radius: 5px;
	}
	.beauty-box hr {
		display: none;
	}
	.beauty-box .button-link {
		display: none;
	}
	.beauty-box .project img {
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}
}

@media screen and (max-width:600px) {
	.beauty-box .courses_container {
		width: 95%;
	}
	.beauty-box .box {
		width: 100%;
		margin: 10px auto;
	}
	.beauty-box .box::before {
		right: 0;
		top: 0;
		z-index: 20;
		border-radius: 0 5px 0 5px;
		font-size: 1.5rem;
		width: 40px;
		height: 40px;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.beauty-box .box:hover::before {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.beauty-box .box:first-of-type::after {
		display: none;
	}
	.beauty-box .text {
		padding-left: 20px;
		padding-right: 20px;
	}
}


/*=====================================
about_us Style
=======================================*/

.about {
	background: rgb(252, 252, 250);
	width: 100%;
	padding: 60px 0;
	position: relative;
	z-index: -2;
}

.about h1 {
	position: relative;
	font-size: 2rem;
	color: rgb(62, 39, 35);
	width: 220px;
	text-align: center;
	margin: auto;
	margin-bottom: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.about h1::after {
	content: '';
	background: rgb(62, 39, 35);
	width: 60px;
	height: 4px;
	right:0;
	left: 0;
	margin: 0 auto;
	top: 70px;
	position: absolute;

}

.about p {
	width: 95%;
	max-width: 800px;
	margin: 50px auto 0;
	text-align: center;
}

@media screen and (max-width:400px) {
	.about h1 {
		font-size: 1.7rem;
	}
	.about h1::after {
		height: 3px;
		top: 60px;
	}
}


/*=====================================
Container Links Style
=======================================*/

.container.links p a {
	color: #3e2723;
	text-decoration: none;
	font-size: 1.1rem;
	position: relative;
	display: block;
	width: 100%;
	padding: 20px 30px 20px 0;

}

.container.links p a:hover {
	text-decoration: underline;
}

.container.links p a:active {
	color: #4b7bec;
}

.container.links p a::before {
	content: '';
	background: #2bcbba;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 34px;
	right: 0px;
	border-radius: 50%;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}

.container.links p a:hover::before {
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	border-radius: 3px;
}

.container.links p {

	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}


/*=====================================
Footer Style
=======================================*/

footer {
	background: #222;
	width: 100%;
	padding: 20px 0;
	z-index: -1;
	position: relative;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	direction: ltr;
}

footer .text {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 2px;
}

footer img {
	margin: 4px;
}

@media screen and (max-width:450px) {
	footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	footer .text {
		min-width: 321px;
	}
}

footer a {
	text-decoration: none;
	font-weight: bold;
	color: #a7a7a7;
	position: relative;
	display: inline-block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

footer a:hover {
	color: white;
}

footer a::before {
	content: '';
	background: white;
	width: 0;
	height: 4px;
	position: absolute;
	bottom: 0;
	-webkit-transition: width .5s ease;
	-o-transition: width .5s ease;
	transition: width .5s ease;
}

footer a:hover::before {
	width: 100%;
	-webkit-transition: width .5s ease;
	-o-transition: width .5s ease;
	transition: width .5s ease;
}

footer span {
	position: absolute;
	top: -80px;
	left: 50%;
	margin-left: -40px;
	width: 80px;
	height: 80px;
	display: inline-block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	pointer-events: none;
}

footer span img {
	border-radius: 20%;
	border: 4px solid white;
	-webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

footer span::before {
	content: '';
	position: absolute;
	bottom: -20px;
	border: 8px solid transparent;
	border-top-color: white;
}

footer a:hover span {
	top: -95px;
	visibility: visible;
	opacity: 1;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}


/*=====================================
Projects Style
=======================================*/

.bg--pr {
	background: #efebe9;
}

.projects img {
	width: 220px;
	border: 4px dashed #2bcbba;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	border-radius: 0;
}

.beauty-box.projects {
	padding-top: 90px;
}
}


/*=====================================
New Style Overwrite
=======================================*/

details {
	margin: 15px 0;
	padding: 15px 0;
	cursor: pointer;
}

hr {
	background: #eaeaea;
	border: 0;
	height: 1px;
	width: 100%;
	margin: 20px auto;
}

.code {
	background: #f8f8f8;
	overflow: auto;
	width: auto;
	border-radius: 0px;
	margin: 15px 0;
	border-width: 0em;
	padding: 1em .8em;
}

.projects--title {
	top: 0;
	width: 100%;
	max-width: 960px;
	margin: 10px auto 20px;
	position: relative;
	z-index: -1;
}

@media screen and (max-width:850px) {
	.animated {
		display: none;
	}
}

.dark--bg {
	background: rgba(0, 0, 0, 0);
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 5;
	visibility: hidden;
	top: 0;
	right: 0;
	-webkit-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.move .dark--bg {
	background: rgba(0, 0, 0, 0.5);
	visibility: visible;
	right: 320px;
	-webkit-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

code {
	background: #f8f8f8;
	border: 1px solid #c4c4c4;
	color: #D81B60;
	border-radius: 5px;
	padding: 2px 4px;
	display: inline-block;
	line-height: 15px;
}

pre {
	text-align: left;
	max-height: 600px;
}

.emoji {
	width: 30px;
}

aside {
	display: inline-block;
	position: fixed;
	z-index: 100;
	top: 0px;
	height: 100vh;
	background: #fafafa;
	padding-right: 20px;
	right: 0px;
	width: 25%;
	max-width: 400px;
	min-width: 300px;
	font-size: 16px;
	padding-top: 90px;
	border-left: 1px double rgba(0, 0, 0, .1);
	overflow-y: auto;
}

aside p {
	border-bottom: 1px dashed rgb(243, 243, 243);

}

aside a {
	text-decoration: none;
	color: #909090;
	display: block;
	width: 100%;
	padding: 5px;
}

aside a:not(.active):hover {
	color: black;
}

aside .active {
	color: #2bcbba;
	font-weight: bold;
}

@media screen and (max-width:1080px) {
	aside {
		display: none;
	}
}

/***Facebook icon***/
.facebook{
	display: block;
	width: 45px;
	height: 45px;
	margin: 0 auto;
	margin-top: 20px;
	background: url(../images/facebook_icon.png);
	opacity: 0.5;
    filter: alpha(opacity=50);
	transition: all 0.4s;
	cursor: pointer;
}
.facebook:hover{
	opacity: 0.7;
    filter: alpha(opacity=70);
}

/*No Animation*/
.no-an *{
	transition-duration:0s;
}
