@import '~@/assets/styles/vars.scss';
@import '~@/../node_modules/rfs/scss/_rfs';
/*=====================================
Course Style
=======================================*/
.course {
   ul {
      list-style: none;
   }

   ul ul {
      list-style: disc;
   }

   img {
      max-width: 100%;
   }

   iframe.youtube {
      width: 420px;
   }
   @media screen and (max-width: 480px) {
      iframe.youtube {
         width: 100%;
      }
   }
}
