<!DOCTYPE html>
{% load static%}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title></title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
      <style class="connectorStyle"></style>
   </head>
   <body class="bg--pr">
      <div class="navbar">
         <div class="navbar-brand">
            <div class="">
               Academy
            </div>
         </div>
         <div class="icon-container">
            <div class="humberger-icon">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
         <div class="navbar-nav">
            <nav>
               <div class="close">
                  أغلق <i class="fas fa-times"></i>
               </div>
               <a href="../../index.html">الرئيسية</a>
               <a href="../html_css/html-css.html">HTML & CSS</a>
               <a href="../javascript/javascript.html">JavaScript</a>
               <a href="../git/git.html">Git</a>
               <a href="../projects/projects.html">المشاريع</a>
            </nav>
         </div>
      </div>
      <div class="projects beauty-box">
         <div class="courses_container">
            <h1 class="projects--title">ورش العمل - Workshops</h1>
            <div class="html_css box">
               <div class="courses_image">
                  <img src="../../images/facebook.png" alt="">
               </div>
               <div class="text">
                  <h2>مشروع إستنساخ موقع الفيسبوك</h2>
                  <p>
				  سنقوم بتطوير واجهة موقع الفيس بوك من الصفر لنتمرن على لغتي الـ HTML و الـ CSS ونتدرب على طريقة توظيف العناصر بالشكل المطلوب.
				  </p>
                  <a class="button-link" href="facebook_project/facebook-project.html">إبدأ</a>
               </div>
               <a class="box-link" href="facebook_project/facebook-project.html"></a>
            </div>
            <div class="javascript box">
               <div class="courses_image">
                  <img src="../../images/one-mac.png" alt="">
               </div>
               <div class="text">
                  <h2>مشروع إستنساخ موقع المبادرة</h2>
                  <p>

				   في ورشة العمل هذه سنقوم بتطوير واجهة موقع مبادرة المليون مبرمج عربي لنتمرن على لغتي الـ HTML و الـ CSS
				  </p>
                  <a class="button-link" href="one_mac_project/one-mac-project.html">إبدأ</a>
               </div>
               <a class="box-link" href="one_mac_project/one-mac-project.html"></a>
            </div>
         </div>
      </div>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>
