@import '~@/assets/styles/vars.scss';
/*=====================================
Header Style
=======================================*/
header {
   .navigation-drawer {
      z-index: 150 !important;
   }

   .toolbar {
      z-index: 100 !important;
      padding: 0 10px !important;

      .toolbar__content {
         height: $header-height !important;

         .toolbar__title {
            font-size: 25px !important;
            font-weight: bold !important;
         }

         .btn {
            font-size: 16px !important;
            font-weight: 700 !important;
         }

         .btn:not(.toolbar__side-icon) {
            min-width: 140px !important;
         }
      }

      &:not(.toolbar--fixed) {
         background: transparent !important;

         .btn:not(.toolbar__side-icon) {
            margin: 15px 12px 0 0 !important;
            height: calc(#{$header-height} - 20px) !important;
         }
      }
   }
}
