{% extends "base.html" %}

{% block head_title %}Login{% endblock %}

{% block content %}
    <form id="login_form" method="post" action="{% url "account_login" %}" >
        <legend>Login</legend>

        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button>Log in</button>
        </div>

        <a href="{% url "account_password_reset" %}">Forgot your password?</a>

        <p>
            Don't have an account?
            <a href="{% url 'account_signup' %}">Sign up</a>
        </p>
    </form>
{% endblock %}
