<!DOCTYPE html>
{% load static%}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>دروس HTML و CSS</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
   </head>
   <body>
      <div class="navbar">
         <div class="navbar-brand">
            <div class="">
               Academy
            </div>
         </div>
         <div class="icon-container">
            <div class="humberger-icon">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
         <div class="navbar-nav">
            <nav>
               <div class="close">
                  أغلق <i class="fas fa-times"></i>
               </div>
               <a href="../../../index.html">الرئيسية</a>
               <a href="../../html_css/html-css.html">HTML & CSS</a>
               <a href="../../javascript/javascript.html">JavaScript</a>
               <a href="../../git/git.html">Git</a>
               <a href="../../projects/projects.html">المشاريع</a>
            </nav>
         </div>
      </div>
      <div class="container links">
         <h1>دروس صناعة موقع فايسبوك</h1>
         <p><a href="1.html">[الدرس الأول] البدأية ومتطلبات المشروع</a></p>
         <p><a href="2.html">[الدرس الثاني] تجهيز ملف المشروع</a></p>
         <p><a href="3.html">[الدرس الثالث] تنزيل وتجهيز الصور المستخدمة بالمشروع</a></p>
         <p><a href="4.html">[الدرس الرابع] تقسيم الصفحة</a></p>
         <p><a href="5.html">[الدرس الخامس:الجزء الأول] تقسيم و تكويد قسم الـ header</a></p>
         <p><a href="6.html">[الدرس الخامس:الجزء الثاني] تكويد الـ container</a></p>
         <p><a href="7.html">[الدرس الخامس:الجزء الثالث] تقسيم الـ container</a></p>
         <p><a href="8.html">[الدرس الخامس:الجزء الرابع] العمل على شعار الموقع</a></p>
         <p><a href="9.html">[الدرس الخامس:الجزء الخامس] الإنتهاء من تكويد قسم الـ header</a></p>
         <p><a href="10.html">[الدرس الخامس:الجزء الأخير] اللمسات الأخيرة على قسم الـ header</a></p>
         <p><a href="11.html">[الدرس السادس:الجزء الأول] تقسيم قسم الـ main</a></p>
         <p><a href="12.html">[الدرس السادس:الجزء الثاني] تكويد قسم الـ main</a></p>
         <p><a href="13.html">[الدرس السادس:الجزء الأخير] تكويد قسم الـ main</a></p>
         <p><a href="14.html">[الدرس السابع] تقسيم وتكويد الـ footer</a></p>
         <p><a href="15.html">[الدرس الثامن] اللمسات الأخيرة على الموقع</a></p>
      </div>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>
