<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>[الدرس الأول]: ماهو الـ DOM وماهي الـ Javascript وما العلاقة بينهما</title>
      <link rel="stylesheet" href="../../css/style.css">
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
   </head>
   <body>
      <div class="navbar">
         <div class="navbar-brand">
            <div class="">
               Academy
            </div>
         </div>
         <div class="icon-container">
            <div class="humberger-icon">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
         <div class="navbar-nav">
            <nav>
               <div class="close">
                  أغلق <i class="fas fa-times"></i>
               </div>
               <a href="../../index.html">الرئيسية</a>
               <a href="../html_css/html-css.html">HTML & CSS</a>
               <a href="../javascript/javascript.html">JavaScript</a>
               <a href="../git/git.html">Git</a>
               <a href="../projects/projects.html">المشاريع</a>
            </nav>
         </div>
      </div>
      <div class="container">
         <div class="cooked">
            <h1 dir="rtl">الـ Document Object Model ولغة الـ Javascript</h1>
            <hr>
            <p dir="rtl">سأقوم بشرح هذا الدرس بأبسط قدر ممكن وبشكل عملي حتى تفهموا الفكرة العامة  و سأتجنب شرح المصطلحات و الكلام النظري الذي قد يشتتكم لكن أرجوا البحث والقرأة عن الموضوع أكثر بعد أن تفهموا الفكرة العامة حتى تكونوا ملمين بالموضوع بشكل كامل</p>
            <p dir="rtl"><strong dir="rtl">ماهو ال(DOM) ؟</strong><br></p>
            <img class="image" src="../../images/javascript/2/1.png">
            <p></p>
            <p dir="rtl">عند فتحك للمتصفح يكون امامك كائنين (Two Objects) الاول هو BOM والثاني هو ال DOM اعتقد ان الصورة واضحة لا اريد ان اقوم بعمل ترجمة حرفية للمصطلحات حتى لا يكون الموضوع مربك لكم.</p>
            <p dir="rtl">ال DOM هو واجهة برمجية خاصة بـ HTML و  XML. هذه الواجهة البرمجية تسمح لك بإستخدام بعض اللغات كـ Javascript لعمل تلاعب بالمحتوى والهيكلة كـ (جلب, تعديل, إضافة, حذف) للعناصر عن طريق التعامل معها ك Nodes.</p>
            <p dir="rtl"><strong dir="rtl">ماهي الـ Node</strong> ؟<br>
               حتى نفهم ماهي الـ node نحتاج إلى أن نعرف كيف يقوم المتصفح بعمل Render لكود HTML وعرضة على النافذة.
            </p>
            <ul dir="rtl">
               <li dir="rtl">مايقوم به المتصفح هو عملية إنشاء لل DOM بإستخدام كود ال HTML الذي قمت بكتابته (Source code)  وأثناء هذه العملية يتم إنشاء شجرة للعناصر تتكون من الجذر و الأب والإبن.</li>
            </ul>
            <p dir="rtl">خلونا نطبق على الكود التالي</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;html&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;head&gt;</span>
      <span style="color: #204a87; font-weight: bold">&lt;title&gt;</span>One Million Arab Coders<span style="color: #204a87; font-weight: bold">&lt;/title&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;/head&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;body&gt;</span>
      <span style="color: #204a87; font-weight: bold">&lt;div&gt;</span>
         <span style="color: #204a87; font-weight: bold">&lt;h1&gt;</span>DOM<span style="color: #204a87; font-weight: bold">&lt;/h1&gt;</span>
         <span style="color: #204a87; font-weight: bold">&lt;p&gt;</span>Document Object Model<span style="color: #204a87; font-weight: bold">&lt;/p&gt;</span>
      <span style="color: #204a87; font-weight: bold">&lt;/div&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;/body&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;/html&gt;</span>
</pre>
            </div>
            <p dir="rtl">عند حفظ هذا الكود وعرضة يقوم المتصفح بإنشاء DOM Tree كالتالي:</p>
            <p></p>
            <img class="image" src="../../images/javascript/2/2.png">
            <p></p>
            <p dir="rtl">نلاحظ من الصورة أعلاة كيف تم إنشاء الشجرة بحيث<br>
               <code dir="ltr">&lt;Html&gt;</code> هي الجذر (root)<br>
               <code dir="ltr">&lt;Html&gt;</code> هي الأب للعنصر <code dir="ltr">&lt;body&gt;</code><br>
               <code dir="ltr">&lt;body&gt;</code> هي الأبن للعنصر <code dir="ltr">&lt;Html&gt;</code><br>
               <code dir="ltr">&lt;body&gt;</code> هي الأب للعنصر <code dir="ltr">&lt;div&gt;</code><br>
               وهكذا
            </p>
            <p dir="rtl">الان بإمكانك إعتبار كل عنصر بداخل هذه الشجرة Node</p>
            <p dir="rtl">الصورة التالية وضحت فيها بعض الـ Nodes</p>
            <p></p>
            <img class="image" src="../../images/javascript/2/3.png">
            <p></p>
            <p dir="rtl">في الوقت الحالي لا تهتم للمسميات فقط أفهمها ولاحقاً عندما تبدأ في التعمق ستعرف ماذا تستفيد منها</p>
            <hr>
            <p dir="rtl">حتى تتضح الصورة أكثر لنبدأ في مثال عملي حتى نتعرف على الـ DOM</p>
            <ul dir="rtl">
               <li dir="rtl">قم بحفظ الكود أعلاة وفتحة في المتصفح ثم إضغط بزر الماوس الأيمن على الصفحة وقم بأختيار Inspect Element</li>
            </ul>
            <p></p>
            <img class="image" src="../../images/javascript/2/4.png">
            <p></p>
            <ul dir="rtl">
               <li dir="rtl">
                  <p dir="rtl">ستظهر لك النوافذ التالية<br></p>
                  <img class="image" src="../../images/javascript/2/5.png">
                  <p></p>
               </li>
               <li dir="rtl">
                  <p dir="rtl">قم بالضغط على Esc من الكايبورد</p>
               </li>
            </ul>
            <p></p>
            <img class="image" src="../../images/javascript/2/6.png">
            <p></p>
            <p dir="rtl">ما تشاهدة حالياً هي الواجهة التي ستعامل معها للتلاعب بالعناصر بإستخدام الـDOM</p>
            <ul dir="rtl">
               <li dir="rtl">
                  <p dir="rtl">في المنطقة المأطرة بالون البرتقالي ستجد شجرة العناصر التي تكلمنا عنها سابقاً والتي تم إنشائها من الـ Source code بإمكانك تصفحها حتى تتضح لك الفكرة</p>
               </li>
               <li dir="rtl">
                  <p dir="rtl">المنطقة المأطرة بالون الأزرق هي نافذه لأكواد الـ CSS بحيث تستطيع التعديل على تنسيقات الصفحة من خلالها مباشرة</p>
               </li>
               <li dir="rtl">
                  <p dir="rtl">المنطقة المأطرة بالون البنفسجي هي المنطقة التي سنكتب فيها أكواد Javascript للتلاعب بالعناصر</p>
               </li>
            </ul>
            <details dir="rtl" open="">
               <summary dir="rtl">
                  هنا ملاحظة مهمة : لاتفتحها الأن قم بالرجوع لها عندما أخبرك
               </summary>
               <p dir="rtl">هناك فرق بين مصدر الكود (Source code) وبين الكود الذي يتم إنشاءة من قبل المتصفح في منطقة الـ DOM tree<br>
                  فعندما تقوم بعمل تلاعب على الكود بإستخدام الـDOM فلا يتم المساس بمصدر الكود وإنما تتم التعديلات على الكود الذي قام المتصفح بإنشائة بإستخدام المصدر وعند عمل تحديث للصفحة يتم إستدعاء مصدر الكود و إعادة إنشاء نسخة جديدة للـDOM يتم فيها إلغاء جميع التعديلات
               </p>
               <p></p>
               <img class="image" src="../../images/javascript/2/7.png">
               <p></p>
               <p dir="rtl">ما أردت توضيحة فيه هذه الصورة</p>
               <ul dir="rtl">
                  <li dir="rtl">مصدر الكود يتم إستدعائة كل مرة يتم عمل تحديث للصفحة ويتم إنشاء ملف DOM tree ثم تقوم لغة Javascript بالتعامل مع ال DOM وعمل التلاعب فيه ثم يتم الأهتمام بملف DOM باستخدام محرك المتصفح ليقوم بمعالجة الأوامر وعرضها على نافذة المتصفح وهكذا …</li>
               </ul>
               <p dir="rtl">بإمكانك فتح مصدر الكود بالضغط على زر الماوس الأيمن على الصفحة والضغط على Page source او بإستخدام <code dir="ltr">ctrl+u</code></p>
            </details>
            <hr>
            <p dir="rtl"><strong dir="rtl">لماذا نحتاج للـ DOM؟</strong><br>
               بإختصار الـDOM يعمل كوسيط بين HTML ولغة Javascript. حيث بإستخدام الـDOM تستطيع لغة Javascript التلاعب بالعناصر
            </p>
            <p dir="rtl"><span class="spoiled" dir="rtl">هل مازالت الأمور غير واضحة بالنسبة لك ؟<br>
               أنتظر ستتضح لك الصورة بالأمثلة القادمة</span>
            </p>
            <hr>
            <p dir="rtl"><strong dir="rtl">ماهي لغة Javascript وماذا نستفيد منها؟</strong></p>
            <p dir="rtl">لغة Javascript هي لغة تستخدم لجعل الموقع تفاعلي.<br>
               أعتقد بأنك حتى هذه اللحظة قد أدركت بأن HTML تساعدك على عمل مواقع بمحتوى ثأبت وتتسأل كيف بإمكانك جعل الموقع يتفاعل مع المستخدم وجعل محتوياته ديناميكية عن طريق التلاعب ببعض اكواد الـ HTML وإستبدالها على سبيل المثال.
            </p>
            <p dir="rtl">مثلا بإمكانك سؤال المستخدم عن إسمة عند دخولة للموقع ثم تقوم بالترحيب به بإسمة</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #8f5902; font-style: italic">&lt;!DOCTYPE html&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;html&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;head&gt;</span>
      <span style="color: #204a87; font-weight: bold">&lt;title&gt;</span>One Million Arab Coders<span style="color: #204a87; font-weight: bold">&lt;/title&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;/head&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;body&gt;</span>
      <span style="color: #204a87; font-weight: bold">&lt;p</span> <span style="color: #c4a000">id=</span><span style="color: #4e9a06">"welcome"</span><span style="color: #204a87; font-weight: bold">&gt;&lt;/p&gt;</span>
      <span style="color: #204a87; font-weight: bold">&lt;script&gt;</span>
         <span style="color: #204a87; font-weight: bold">var</span> <span style="color: #000000">person</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">prompt</span><span style="color: #000000; font-weight: bold">(</span><span style="color: #4e9a06">"Please enter your name"</span><span style="color: #000000; font-weight: bold">);</span>
          <span style="color: #204a87; font-weight: bold">if</span> <span style="color: #000000; font-weight: bold">(</span><span style="color: #000000">person</span> <span style="color: #ce5c00; font-weight: bold">!=</span> <span style="color: #204a87; font-weight: bold">null</span><span style="color: #000000; font-weight: bold">)</span> <span style="color: #000000; font-weight: bold">{</span>
              <span style="color: #204a87">document</span><span style="color: #000000; font-weight: bold">.</span><span style="color: #000000">getElementById</span><span style="color: #000000; font-weight: bold">(</span><span style="color: #4e9a06">"welcome"</span><span style="color: #000000; font-weight: bold">).</span><span style="color: #000000">innerHTML</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #4e9a06">"Hello "</span> <span style="color: #ce5c00; font-weight: bold">+</span> <span style="color: #000000">person</span> <span style="color: #ce5c00; font-weight: bold">+</span> <span style="color: #4e9a06">"! How are you today?"</span><span style="color: #000000; font-weight: bold">;</span>
          <span style="color: #000000; font-weight: bold">}</span>

      <span style="color: #204a87; font-weight: bold">&lt;/script&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;/body&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;/html&gt;</span>
</pre>
            </div>
            <p dir="rtl"><strong dir="rtl">قم بتجربة هذا الكود</strong></p>
            <hr>
            <p dir="rtl">لنبدأ بتطبيق مثال بسيط بإستخدام ال DOM</p>
            <p dir="rtl">قم بعمل مستند HTML جديد وضع فيه الوسوم التالية:</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #8f5902; font-style: italic">&lt;!DOCTYPE html&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;html&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;head&gt;</span>
      <span style="color: #204a87; font-weight: bold">&lt;title&gt;</span>One Million Arab Coders<span style="color: #204a87; font-weight: bold">&lt;/title&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;/head&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;body&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;/body&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;/html&gt;</span>
</pre>
            </div>
            <p dir="rtl">الان قم بحفظه الملف وفتحة بالمتصفح</p>
            <p></p>
            <img class="image" src="../../images/javascript/2/8.png">
            <p></p>
            <p dir="rtl">لدينا صفحة بيضاء خالية من أي محتوى</p>
            <p dir="rtl">سنقوم الأن بإستخدام نافذة Console لكتابة كود Javascript يقوم بإضافة تنسيق لوسم <code dir="ltr">&lt;body&gt;</code> وسنغير لون الخلفية إلى أي لون وليكن الأسود</p>
            <p></p>
            <img class="image" src="../../images/javascript/2/9.png">
            <p></p>
            <p dir="rtl">قمت بكتابة الكود التالي في الـConsole وضغطت على Enter:</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87">document</span><span style="color: #000000; font-weight: bold">.</span><span style="color: #000000">body</span><span style="color: #000000; font-weight: bold">.</span><span style="color: #000000">style</span><span style="color: #000000; font-weight: bold">.</span><span style="color: #000000">backgroundColor</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #4e9a06">"black"</span><span style="color: #000000; font-weight: bold">;</span>
</pre>
            </div>
            <p dir="rtl">الكود أعلاة يقوم بعمل تحديد لـ Node <code dir="ltr">&lt;body&gt;</code> في جزئية :</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87">document</span><span style="color: #000000; font-weight: bold">.</span><span style="color: #000000">body</span>
</pre>
            </div>
            <p><img class="image" src="../../images/javascript/2/10.png"></p>
            <p dir="rtl">ثم يقوم بإضافة Style نوع backgroundColor والتي تقوم بتغيير لون الخلفية للون المحدد black</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #000000">style</span><span style="color: #000000; font-weight: bold">.</span><span style="color: #000000">backgroundColor</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #4e9a06">"black"</span><span style="color: #000000; font-weight: bold">;</span>
</pre>
            </div>
            <p dir="rtl"><strong dir="rtl">هل لاحظت كيف قام الـDOM بعملة؟</strong><br>
               لنعود لنقارن كود الـHTML قبل كتابتنا لكود الJavascript وبعد كتابتنا له
            </p>
            <p></p>
            <img class="image" src="../../images/javascript/2/11.png">
            <p></p>
            <p dir="rtl">هلا لاحظت الفرق وكيف قام الـ DOM بالتلاعب بكود الـHTML فقد أضاف كود لعمل تنسيق لوسم <code dir="ltr">&lt;body&gt;</code> كالتالي:</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;body</span> <span style="color: #c4a000">style=</span><span style="color: #4e9a06">"background-color: black;"</span><span style="color: #204a87; font-weight: bold">&gt;</span>
</pre>
            </div>
            <hr>
            <p dir="rtl">هل أتضحت لك الصورة الأن كيف يمكنك إستخدام الـ DOM لعمل تلاعب بالأكواد لجعل الموقع تفاعلي بإستخدام الـ Javascript؟</p>
            <p dir="rtl">الأن لنجرب عمل تحديث للصفحة (Refresh), هل لاحظت عودة الكود الأصلي وإختفاء التعديلات ؟؟<br>
               اذا تريد أن تعرف السبب أرجع للملاحظة التي أخبرتك أن تعود لها لاحقاً
            </p>
            <hr>
            <p dir="rtl"><strong dir="rtl">لنجرب شئ جديد</strong><br>
               بإمكانك الأن تطوير الكود ليقوم بسؤال الزائر عن لونة المفضل وتطبيقة على الخلفية - حاول تطبيق الكود من نفسك قبل أن تنسخة وبإمكانك الرجوع لسكربت السؤال عن إسم المستخدم فالفكرة مشابهة
            </p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #8f5902; font-style: italic">&lt;!DOCTYPE html&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;html&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;head&gt;</span>
      <span style="color: #204a87; font-weight: bold">&lt;title&gt;</span>One Million Arab Coders<span style="color: #204a87; font-weight: bold">&lt;/title&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;/head&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;body&gt;</span>
      <span style="color: #204a87; font-weight: bold">&lt;script&gt;</span>
         <span style="color: #204a87; font-weight: bold">var</span> <span style="color: #000000">color</span><span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">prompt</span><span style="color: #000000; font-weight: bold">(</span><span style="color: #4e9a06">"What is your favorite color"</span><span style="color: #000000; font-weight: bold">);</span>
          <span style="color: #204a87; font-weight: bold">if</span> <span style="color: #000000; font-weight: bold">(</span><span style="color: #000000">color</span> <span style="color: #ce5c00; font-weight: bold">!=</span> <span style="color: #204a87; font-weight: bold">null</span><span style="color: #000000; font-weight: bold">)</span> <span style="color: #000000; font-weight: bold">{</span>
              <span style="color: #204a87">document</span><span style="color: #000000; font-weight: bold">.</span><span style="color: #000000">body</span><span style="color: #000000; font-weight: bold">.</span><span style="color: #000000">style</span><span style="color: #000000; font-weight: bold">.</span><span style="color: #000000">backgroundColor</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">color</span><span style="color: #000000; font-weight: bold">;</span>
          <span style="color: #000000; font-weight: bold">}</span>

      <span style="color: #204a87; font-weight: bold">&lt;/script&gt;</span>
   <span style="color: #204a87; font-weight: bold">&lt;/body&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;/html&gt;</span>
</pre>
            </div>
            <hr>
            <p dir="rtl">ستجد <a href="https://www.w3schools.com/js/default.asp" rel="nofollow noopener" dir="rtl">هنا</a> دليل كامل سيفيدك لتطوير مهاراتك وتجربة أفكار جديدة فباب الأفكار الذي تفتحة Javascript غير محدود.</p>
            <hr>
         </div>
      </div>
      <script src="../../js/main.js"></script>
   </body>
</html>
