<!DOCTYPE html>
{% load static%}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>[الدرس الثاني]: constants & variables</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
   </head>
   <body>
      <div class="navbar">
         <div class="navbar-brand">
            <div class="">
               Academy
            </div>
         </div>
         <div class="icon-container">
            <div class="humberger-icon">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
         <div class="navbar-nav">
            <nav>
               <div class="close">
                  أغلق <i class="fas fa-times"></i>
               </div>
               <a href="../../index.html">الرئيسية</a>
               <a href="../html_css/html-css.html">HTML & CSS</a>
               <a href="../javascript/javascript.html">JavaScript</a>
               <a href="../git/git.html">Git</a>
               <a href="../projects/projects.html">المشاريع</a>
            </nav>
         </div>
      </div>
      <div class="container">
         <div class="cooked">
            <h1 dir="rtl">المتغيرات variables و الثوابت constants</h1>
            <hr>
            <p dir="rtl"><strong dir="rtl">لغة الجافاسكربت لغة منطقية تعمل كما يعمل عقلك, لنجرب اللعبة التالية :</strong></p>
            <p dir="rtl">1- إختر رقم في عقلك</p>
            <p dir="rtl">2- اضرب الرقم الذي في عقلك بـ 2</p>
            <p dir="rtl">3- أضف على الناتج الرقم 8</p>
            <p dir="rtl">4- إقسم الناتج على 2</p>
            <p dir="rtl">5-  إطرح اول رقم وضعته في عقلك من الناتج</p>
            <p dir="rtl">يطلع الناتج 4 <img src="{% static 'images/javascript/3/0.png'%}" title=":sunglasses:" class="emoji" alt=":sunglasses:" style="width:30px;"></p>
            <hr>
            <h4 dir="rtl"><strong dir="rtl">الذي قمت بعملة قبل قليل خلال مرورك بهذه اللعبة البسيطة هو انك قمت بإستخدام المتغيرات (variables) و الثوابت (constants) كما كانت لتستخدمها الـ Javascript, لنحلل كيف قمت بذلك.</strong></h4>
            <hr>
            <p dir="rtl"><strong dir="rtl">1- عندما قلت لك إختار رقم في عقلك لنفترض أنك إخترت الرقم كالتالي:</strong><br>
               <img src="{% static 'images/javascript/3/1.png'%}" alt="image" width="262" height="185">
            </p>
            <hr>
            <p dir="rtl"><strong dir="rtl">2- اضرب الرقم الذي في عقلك بـ 2:</strong><br>
               <img src="{% static 'images/javascript/3/2.png'%}" alt="image" width="262" height="194">
            </p>
            <hr>
            <p dir="rtl"><strong dir="rtl">3- أضف على الناتج الرقم 8:</strong><br>
               <img src="{% static 'images/javascript/3/3.png'%}" alt="image" width="262" height="190">
            </p>
            <hr>
            <p dir="rtl"><strong dir="rtl">4- إقسم الناتج على 2</strong><br>
               <img src="{% static 'images/javascript/3/4.png'%}" alt="image" width="262" height="207">
            </p>
            <hr>
            <p dir="rtl"><strong dir="rtl">5- إطرح اول رقم وضعته في عقلك من الناتج:</strong><br>
               <img src="{% static 'images/javascript/3/5.png'%}" alt="image" width="262" height="187">
            </p>
            <hr>
            <h2 dir="rtl">ما قام به عقلك كان كالتالي:</h2>
            <p dir="rtl">1- قام عقلك بحفظ الرقم الذي أنت قمت بإختيارة بجزء من ذاكرتك لنفترض تحت مسمى <strong dir="rtl">الرقم</strong><br>
               2- قام عقلك بالقيام بالعمليات الحسابية وحفظها بجزء أخر من ذاكرتك لنفترض بأنه تحت مسمى <strong dir="rtl">الناتج</strong><br>
               <img class="image" src="{% static 'images/javascript/3/6.png'%}">
            </p>
            <h2 dir="rtl">الملاحظ:</h2>
            <p dir="rtl">هل لاحظت بأنك منذ بدأية اللعبة وحتى نهايتها لم تقم بتغيير <strong dir="rtl">الرقم</strong> وذلك لانك تعرف بأن إتفاقنا الا تقوم بذلك وأنك اذا قمت بذلك في أي مرحلة من مراحل اللعبة فهذا يعني أنه سيكون هناك خطأ في الناتج؟</p>
            <p dir="rtl"><strong dir="rtl">هذا ما يسمى بالثابت أو الـ constant في الـ Javascript حيث تقوم بتعريفة في البدأية ومن ثم لا يُسمح لك بتغيير قيمتة واذا قمت بذلك فسوف يظهر لك خطأ.</strong></p>
            <hr>
            <p dir="rtl">هل لاحظت طريقة إستخدامنا لـ <strong dir="rtl">الناتج</strong> وكيف أنك في كل مرحلة تقوم بتغيير قيمته لقيمة جديدة تحصل عليها من العملية الحسابية المطلوبة وكيف أنك كنت تهتم فقط للقيمة الأخيرة التي تم تخزينها فيه دون غيرها من القيم السابقة؟</p>
            <p dir="rtl"><strong dir="rtl">هذا ما يسمى بالمتغير أو الـ variable في الـ Javascript حيث يتيح لك تخزين قيمة فيه لإستخدامها عند الحاجة لها وكذلك يسمح لك بتغييرها لاحقاً</strong></p>
            <hr>
            <h2 dir="rtl">كيفية تعريف الثابت (constant) في الـ Javascript:</h2>
            <p dir="rtl">لتعريف ثابت يجب أن تعطية إسم وتسبق هذا الإسم بـ <code dir="ltr">const</code> والتي هي إختصار من constant ومن ثم تقوم بإعطائة قيمة بنفس السطر كالتالي:</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">const</span> <span style="color: #000000">number</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #0000cf; font-weight: bold">5</span><span style="color: #000000; font-weight: bold">;</span>
 </pre>
            </div>
            <p dir="rtl">ما قمت به في الكود أعلاة هو تعريف ثابت (constant) بإسم <code dir="ltr">number</code> وقمت بتخزين الرقم 5 بدأخلة.</p>
            <hr>
            <h2 dir="rtl">كيفية تعريف المتغير (variable) في الـ Javascript:</h2>
            <h4 dir="rtl">الطريقة الأولى:</h4>
            <p dir="rtl">لتعريف متغير يجب أن تعطية إسم وتسبق هذا الإسم بـ <code dir="ltr">var</code> والتي هي إختصار من variable ومن ثم تقوم بإعطاء المتغير قيمة بنفس السطر كالتالي:</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">var</span> <span style="color: #000000">result</span><span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #0000cf; font-weight: bold">0</span><span style="color: #000000; font-weight: bold">;</span>
 </pre>
            </div>
            <p dir="rtl">ما قمت به في الكود أعلاة هو تعريف متغير (variable) بإسم <code dir="ltr">result</code> واسندت الية قيمة إبتدأية تساوي 0</p>
            <h4 dir="rtl">الطريقة الثانية:</h4>
            <p dir="rtl">لتعريف متغير يجب أن تعطية إسم وتسبق هذا الإسم بـ <code dir="ltr">var</code> ثم تتركة بدون أي قيمة وفي وقت لاحق تقوم بإسناد قيمة لهذا المتغيرعند حاجتك له كالتالي:</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">var</span> <span style="color: #000000">result</span><span style="color: #000000; font-weight: bold">;</span>
 </pre>
            </div>
            <p dir="rtl">في الكود أعلاة قمت بتعريف متغير ولم أسند إلية أي قيمة ولنفترض أنني إحتجت لإستخدامه بعد الف سطر من الأكواد البرمجية حينها سأقوم بإعطائة القيمة في ذلك المكان بإستخدام الكود التالي:</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #0000cf; font-weight: bold">0</span><span style="color: #000000; font-weight: bold">;</span>
 </pre>
            </div>
            <p dir="rtl">لاحظ عندما أقوم بإسناد قيمة إلية لاحقاً أقوم بكتابة إسم المتغير فقط وإسند إلية القيمة مباشرة بعد علامة يساوي <code dir="ltr">=</code></p>
            <hr>
            <h2 dir="rtl">بعد أن عرفنا الفرق بينهما لنقوم بعمل كود اللعبة أعلاة</h2>
            <p dir="rtl">سنفترض بإنك إخترت الرقم 5 سيكون كود الـ Javascript كالتالي:</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;script&gt;</span>
    <span style="color: #204a87; font-weight: bold">const</span> <span style="color: #000000">number</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #0000cf; font-weight: bold">5</span><span style="color: #000000; font-weight: bold">;</span> <span style="color: #8f5902; font-style: italic">// إختر رقم في عقلك و لا تقوم بتغييرة</span>

    <span style="color: #204a87; font-weight: bold">var</span> <span style="color: #000000">result</span>  <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">number</span> <span style="color: #ce5c00; font-weight: bold">*</span> <span style="color: #0000cf; font-weight: bold">2</span><span style="color: #000000; font-weight: bold">;</span>  <span style="color: #8f5902; font-style: italic">// اضرب الرقم الذي في عقلك بـ 2</span>

    <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">+</span> <span style="color: #0000cf; font-weight: bold">8</span><span style="color: #000000; font-weight: bold">;</span> <span style="color: #8f5902; font-style: italic">// أضف للناتج الرقم 8</span>

    <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">/</span> <span style="color: #0000cf; font-weight: bold">2</span><span style="color: #000000; font-weight: bold">;</span> <span style="color: #8f5902; font-style: italic">// إقسم الناتج على 2</span>

    <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">-</span> <span style="color: #000000">number</span><span style="color: #000000; font-weight: bold">;</span> <span style="color: #8f5902; font-style: italic">// إطرح من الناتج أول رقم وضعته في عقلك</span>

    <span style="color: #000000">console</span><span style="color: #000000; font-weight: bold">.</span><span style="color: #000000">log</span><span style="color: #000000; font-weight: bold">(</span><span style="color: #000000">result</span><span style="color: #000000; font-weight: bold">);</span> <span style="color: #8f5902; font-style: italic">// هذا الكود سيقوم بإظهار الناتج في نافذة منبثقة</span>

 <span style="color: #204a87; font-weight: bold">&lt;/script&gt;</span>
 </pre>
            </div>
            <ul dir="rtl">
               <li dir="rtl">قمنا بتعريف الرقم كثابت <code dir="ltr">const</code> وأسندنا إلية الرقم <code dir="ltr">5</code></li>
            </ul>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">const</span> <span style="color: #000000">number</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #0000cf; font-weight: bold">5</span><span style="color: #000000; font-weight: bold">;</span>
 </pre>
            </div>
            <ul dir="rtl">
               <li dir="rtl">قمنا بتعريف المتغير <code dir="ltr">result</code> وأسندنا إلية القيمة 10 من خلال العملية الحسابية <code dir="ltr">number*2</code> حيث أن <code dir="ltr">number</code> سيتم التعويض عنه بـ <code dir="ltr">5</code></li>
            </ul>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">var</span> <span style="color: #000000">result</span>  <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">number</span> <span style="color: #ce5c00; font-weight: bold">*</span> <span style="color: #0000cf; font-weight: bold">2</span><span style="color: #000000; font-weight: bold">;</span>
 </pre>
            </div>
            <ul dir="rtl">
               <li dir="rtl">قمنا بتحديث قيمة المتغير <code dir="ltr">result</code> إلى <code dir="ltr">18</code> من خلال العملية الحسابية <code dir="ltr">result+8</code> حيث سيتم التعويض عن  <code dir="ltr">result</code>  بالقيمة السابقة والتي هي <code dir="ltr">10</code> ليصبح لدينا <code dir="ltr">result=10+8</code>, ولاحظ لم نكتب قبلة <code dir="ltr">var</code> وذلك لانه لا يتطلب ذلك الا عند تعريفة أول مرة</li>
            </ul>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">+</span> <span style="color: #0000cf; font-weight: bold">8</span><span style="color: #000000; font-weight: bold">;</span>
 </pre>
            </div>
            <ul dir="rtl">
               <li dir="rtl">قمنا بتحديث قيمة المتغير <code dir="ltr">result</code> إلى <code dir="ltr">9</code> من خلال العملية الحسابية <code dir="ltr">result/2</code>  ما يقابلها <code dir="ltr">18/2</code>:</li>
            </ul>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">/</span> <span style="color: #0000cf; font-weight: bold">2</span><span style="color: #000000; font-weight: bold">;</span>
 </pre>
            </div>
            <ul dir="rtl">
               <li dir="rtl">قمنا بتحديث قيمة المتغير <code dir="ltr">result</code> إلى 4 من خلال العملية الحسابية <code dir="ltr">result-number</code> ما يقابلها <code dir="ltr">9-5</code> بعد التعويض بقيم كلاً من الثابت <code dir="ltr">number</code> و المتغير <code dir="ltr">result</code> في المعادلة.</li>
            </ul>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">-</span> <span style="color: #000000">number</span><span style="color: #000000; font-weight: bold">;</span>
 </pre>
            </div>
            <ul dir="rtl">
               <li dir="rtl">قمنا بطباعة النتيجة بإستخدام امر <code dir="ltr">alert</code> الذي يقوم بفتح نافذة منبثقة</li>
            </ul>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #000000">alert</span><span style="color: #000000; font-weight: bold">(</span><span style="color: #000000">result</span><span style="color: #000000; font-weight: bold">);</span>
 </pre>
            </div>
            <p dir="rtl"><strong dir="rtl">النتيجة:</strong><br>
               ستظهر نافذة منبثقة مكتوب عليها الناتج <code dir="ltr">result</code>  <strong dir="ltr">4</strong><br>
            </p>
            <img class="image" src="{% static 'images/javascript/3/7.png'%}">
            <p></p>
            <details dir="rtl" open="">
               <summary dir="rtl">
                  الكود كاملاً
               </summary>
               <div class="code">
                  <pre style="margin: 0; line-height: 125%"><span style="color: #8f5902; font-style: italic">&lt;!doctype html&gt;</span>
 <span style="color: #204a87; font-weight: bold">&lt;html&gt;</span>
    <span style="color: #204a87; font-weight: bold">&lt;head&gt;</span>
       <span style="color: #204a87; font-weight: bold">&lt;meta</span> <span style="color: #c4a000">charset=</span><span style="color: #4e9a06">"utf-8"</span><span style="color: #204a87; font-weight: bold">&gt;</span>
       <span style="color: #204a87; font-weight: bold">&lt;title&gt;</span>javascript<span style="color: #204a87; font-weight: bold">&lt;/title&gt;</span>
    <span style="color: #204a87; font-weight: bold">&lt;/head&gt;</span>
    <span style="color: #204a87; font-weight: bold">&lt;body&gt;</span>
       <span style="color: #204a87; font-weight: bold">&lt;script&gt;</span>
          <span style="color: #204a87; font-weight: bold">var</span> <span style="color: #000000">result</span><span style="color: #000000; font-weight: bold">;</span>
          <span style="color: #204a87; font-weight: bold">const</span> <span style="color: #000000">number</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #0000cf; font-weight: bold">5</span><span style="color: #000000; font-weight: bold">;</span>
          <span style="color: #000000">result</span><span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">number</span> <span style="color: #ce5c00; font-weight: bold">*</span> <span style="color: #0000cf; font-weight: bold">2</span> <span style="color: #000000; font-weight: bold">;</span>

          <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">+</span> <span style="color: #0000cf; font-weight: bold">8</span><span style="color: #000000; font-weight: bold">;</span>

          <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">/</span> <span style="color: #0000cf; font-weight: bold">2</span><span style="color: #000000; font-weight: bold">;</span>

          <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">=</span> <span style="color: #000000">result</span> <span style="color: #ce5c00; font-weight: bold">-</span> <span style="color: #000000">number</span><span style="color: #000000; font-weight: bold">;</span>

          <span style="color: #000000">alert</span><span style="color: #000000; font-weight: bold">(</span><span style="color: #000000">result</span><span style="color: #000000; font-weight: bold">);</span>
       <span style="color: #204a87; font-weight: bold">&lt;/script&gt;</span>
    <span style="color: #204a87; font-weight: bold">&lt;/body&gt;</span>
 <span style="color: #204a87; font-weight: bold">&lt;/html&gt;</span>
 </pre>
               </div>
            </details>
            <hr>
            <p dir="rtl">في هذه المرحلة ينبغي أن تكون قد عرفت ماهو المتغير (variables) وماهو الثابت (constants) وكيفية تعريف كلاً منهما, في الدرس القادم سنتكلم عن أنواع البيانات (data types) وعمليات المقارنة.</p>
            <hr>
         </div>
      </div>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>
