<!DOCTYPE html>
{% load static%}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>دروس JavaScript</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
   </head>
   <body>
      <div class="navbar">
         <div class="navbar-brand">
            <div class="">
               Academy
            </div>
         </div>
         <div class="icon-container">
            <div class="humberger-icon">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
         <div class="navbar-nav">
            <nav>
               <div class="close">
                  أغلق <i class="fas fa-times"></i>
               </div>
               <a href="../../index.html">الرئيسية</a>
               <a href="../html_css/html-css.html">HTML & CSS</a>
               <a href="../javascript/javascript.html">JavaScript</a>
               <a href="../git/git.html">Git</a>
               <a href="../projects/projects.html">المشاريع</a>
            </nav>
         </div>
      </div>
      <div id="javascript" class="container links">
         <h1>دروس JavaScript</h1>
         <p><a href="1.html">[البدأية]: خطة البدء في دروس الـ Javascript</a></p>
         <p><a href="2.html">[الدرس الأول]: ماهو الـ DOM وماهي الـ Javascript وما العلاقة بينهما</a></p>
         <p><a href="3.html">[الدرس الثاني]: constants & variables</a></p>
         <p><a href="4.html">[الدرس الثالث: الجزء الأول]: Data Types</a></p>
         <p><a href="5.html">[الدرس الثالث: الجزء الثاني]: Data Types</a></p>
         <p><a href="6.html">[الدرس الرابع]: Comparison Operators</a></p>
         <p><a href="7.html">[الدرس الخامس]: Javascript Coding Convention + Rules</a></p>
         <p><a href="8.html">[الدرس السادس]: Conditionals</a></p>
         <p><a href="9.html">[الدرس السابع]: تطبيق عملي</a></p>
         <p><a href="10.html">[الدرس الثامن]: Arrays</a></p>
         <p><a href="11.html">[الدرس التاسع:الجزء الأول]: عمل تطبيق To Do List</a></p>
         <p><a href="12.html">[الدرس التاسع:الجزء الثاني والأخير]: تطبيق عملي | عمل تطبيق To Do List</a></p>
         <p><a href="13.html">[الدرس العاشر]: Loops</a></p>
         <p><a href="14.html">[الدرس الحادي عشر] Functions</a></p>
         <p><a href="15.html">[الدرس الثاني عشر و الأخير] Objects</a></p>
         <p><a href="16.html">[المهمة الأخير] تطبيق خلاصة كل ما تعلمتة في دروس الجافاسكربت</a></p>
      </div>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>
