@import '~@/assets/styles/vars.scss';
@import '~@/../node_modules/rfs/scss/_rfs';
/*=====================================
Courses Style
=======================================*/
$toolbar-height: 60px;
$navigation-toolbar-height: 80px;

main {
   padding-top: $toolbar-height !important;
   padding-bottom: $toolbar-height !important;
}

.courses {
   height: 100% !important;
   overflow: hidden !important;
   position: relative !important;
   background: $secondary-color !important;

   .stepper {
      padding: 0 !important;
      box-shadow: none !important;

      > .toolbar {
         height: $toolbar-height !important;
         background: $primary-color !important;
         line-height: $toolbar-height !important;

         .toolbar__content {
            height: $toolbar-height !important;
            line-height: $toolbar-height !important;

            .toolbar__title {
               font-weight: 700 !important;
               @include responsive-font-size(1.2rem,true);
            }
         }
      }

      .navigation-drawer {
         overflow: hidden !important;
         background: $primary-color !important;

         > .toolbar {
            height: auto !important;
            background: $primary-color !important;
            min-height: $toolbar-height !important;
            max-height: $navigation-toolbar-height !important;
            // line-height: $toolbar-height !important;
            .toolbar__content {
               height: auto !important;
               min-height: $toolbar-height !important;
               // line-height: $toolbar-height !important;
               max-height: $navigation-toolbar-height !important;

               .btn {
                  width: 35px !important;
                  height: 35px !important;

                  .icon {
                     font-size: 35px !important;
                  }
               }

               .toolbar__title {
                  margin-left: 0 !important;
                  margin-right: 0 !important;
                  font-weight: 700 !important;
                  @include responsive-font-size(1rem,true);
               }
            }
         }

         .stepper-group {
            max-height: 100% !important;
            overflow-y: scroll !important;
            padding-bottom: 20px !important;

            .stepper__step {
               padding: 0 10px !important;
               cursor: pointer !important;
               overflow: hidden !important;
               height: $header-height !important;
               line-height: $header-height !important;

               &.active {
                  background: rgba(0,0,0,0.19) !important;
               }

               .stepper__step__step {
                  font-weight: 700 !important;
                  color: $white-color !important;
                  @include responsive-font-size(0.8rem,true);
               }

               .stepper__label {
                  margin: 0 20px !important;
                  font-weight: 600 !important;
                  color: $white-color !important;
                  @include responsive-font-size(1rem,true);
               }
            }
         }
      }

      .stepper__content {
         margin: 0 !important;
         padding: 0 !important;
         border-left: 0 !important;
         transition: none !important;
         background: $secondary-color !important;

         .stepper__wrapper {
            height: 100% !important;
            padding: 40px !important;
            transition: none !important;
            user-select: text !important;
            overflow-y: scroll !important;
            overflow-x: hidden !important;
         }

         .hljs {
            display: block;
            overflow-x: auto;
            padding: 0.5em;
            color: #333;
            background: #f8f8f8;
            line-height: 20px;
         }

         .hljs.python pre {
            padding-left: 30px;
         }

         .hljs.python .hljs-function {
            display: inline-block;
            padding-top: 20px;
         }

         .hljs-comment,
         .hljs-quote {
            color: #998;
            font-style: italic;
         }

         .hljs-keyword,
         .hljs-selector-tag,
         .hljs-subst {
            color: #333;
            font-weight: 700;
         }

         .hljs-literal,
         .hljs-number,
         .hljs-tag .hljs-attr,
         .hljs-template-variable,
         .hljs-variable {
            color: teal;
         }

         .hljs-doctag,
         .hljs-string {
            color: #d14;
         }

         .hljs-section,
         .hljs-selector-id,
         .hljs-title {
            color: #900;
            font-weight: 700;
         }

         .hljs-subst {
            font-weight: 400;
         }

         .hljs-class .hljs-title,
         .hljs-type {
            color: #458;
            font-weight: 700;
         }

         .hljs-attribute,
         .hljs-name,
         .hljs-tag {
            color: navy;
            font-weight: 400;
         }

         .hljs-meta,
         .hljs-strong {
            font-weight: 700;
         }

         .hljs-link,
         .hljs-regexp {
            color: #009926;
         }

         .hljs-bullet,
         .hljs-symbol {
            color: #990073;
         }

         .hljs-built_in,
         .hljs-builtin-name {
            color: #0086b3;
         }

         .hljs-meta {
            color: #999;
         }

         .hljs-deletion {
            background: #fdd;
         }

         .hljs-addition {
            background: #dfd;
         }

         .hljs-emphasis {
            font-style: italic;
         }
      }

      .toolbar-footer {
         height: $toolbar-height !important;
         background: $primary-color !important;

         .btn {
            margin: 0 30px !important;
            font-weight: 700 !important;
         }
      }
   }
}

.courses-dialog {
   .card {
      .card__text {
         padding: 32px 40px !important;
         font-weight: 700 !important;
         @include responsive-font-size(1rem,true);
      }

      .card__actions {
         height: auto !important;
         padding: 15px !important;
         background: $primary-color !important;

         .btn {
            margin: 0 !important;
            font-weight: 700 !important;
            @include responsive-font-size(0.9rem,true);
         }
      }
   }
}
