@import '~@/assets/styles/vars.scss';
@import '~@/../node_modules/rfs/scss/_rfs';
/*=====================================
Courses Style
=======================================*/
$toolbar-height: 60px;
$navigation-toolbar-height: 80px;

main.course-main-content,
main.courses-main-content {
   padding-top: $toolbar-height !important;
   padding-bottom: $toolbar-height !important;
}

.courses {
   height: 100% !important;
   overflow: hidden !important;
   position: relative !important;
   background: $secondary-color !important;

   .stepper {
      padding: 0 !important;
      box-shadow: none !important;

      > .toolbar {
         height: $toolbar-height !important;
         background: $primary-color !important;
         line-height: $toolbar-height !important;

         .toolbar__content {
            height: $toolbar-height !important;
            line-height: $toolbar-height !important;

            .toolbar__title {
               font-weight: 700 !important;
               @include responsive-font-size(1.2rem,true);
            }
         }
      }

      .navigation-drawer {
         overflow: hidden !important;
         background: $primary-color !important;

         > .toolbar {
            height: auto !important;
            background: $primary-color !important;
            min-height: $toolbar-height !important;
            max-height: $navigation-toolbar-height !important;
            // line-height: $toolbar-height !important;
            .toolbar__content {
               height: auto !important;
               min-height: $toolbar-height !important;
               // line-height: $toolbar-height !important;
               max-height: $navigation-toolbar-height !important;

               .btn {
                  width: 35px !important;
                  height: 35px !important;

                  .icon {
                     font-size: 35px !important;
                  }
               }

               .toolbar__title {
                  margin-left: 0 !important;
                  margin-right: 0 !important;
                  font-weight: 700 !important;
                  @include responsive-font-size(1rem,true);
               }
            }
         }

         .stepper-group {
            max-height: 100% !important;
            overflow-y: scroll !important;
            padding-bottom: 20px !important;

            .stepper__step {
               padding: 0 10px !important;
               cursor: pointer !important;
               overflow: hidden !important;
               height: $header-height !important;
               line-height: $header-height !important;

               &.active {
                  background: rgba(0,0,0,0.19) !important;
               }

               .stepper__step__step {
                  font-weight: 700 !important;
                  color: $white-color !important;
                  @include responsive-font-size(0.8rem,true);
               }

               .stepper__label {
                  margin: 0 20px !important;
                  font-weight: 600 !important;
                  color: $white-color !important;
                  @include responsive-font-size(1rem,true);
               }
            }
         }
      }

      .content {
         margin: 0 !important;
         padding: 0 !important;
         border-left: 0 !important;
         transition: none !important;
         background: $secondary-color !important;

         > div {
            width: 100% !important;
            height: 100% !important;
            transition: none !important;
            user-select: text !important;
            overflow-y: scroll !important;
            overflow-x: hidden !important;
            padding: 40px 100px !important;
         }
      }

      .toolbar-footer {
         height: $toolbar-height !important;
         background: $primary-color !important;

         .btn {
            margin: 0 30px !important;
            font-weight: 700 !important;
         }
      }
   }
}

.courses-dialog {
   .card {
      .card__text {
         padding: 32px 40px !important;
         font-weight: 700 !important;
         @include responsive-font-size(1rem,true);
      }

      .card__actions {
         height: auto !important;
         padding: 15px !important;
         background: $primary-color !important;

         .btn {
            margin: 0 !important;
            font-weight: 700 !important;
            @include responsive-font-size(0.9rem,true);
         }
      }
   }
}
