<!DOCTYPE html>
{% load static%}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>[الجزء الثالث: اليوم الأول]: تحدي اليوم الثالث</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
      <link rel="stylesheet" href="{% static 'css/github.min.css'%}">
      <script src="{% static 'js/highlight.pack.js'%}"></script>
   </head>
   <body>
      <div class="navbar">
         <div class="navbar-brand">
            <div class="">
               Academy
            </div>
         </div>
         <div class="icon-container">
            <div class="humberger-icon">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
         <div class="navbar-nav">
            <nav>
               <div class="close">
                  أغلق <i class="fas fa-times"></i>
               </div>
               <a href="{% url 'home' %}">الرئيسية</a>
               <a href="{% url 'category' category='html_css' %}">HTML & CSS</a>
               <a href="{% url 'category' category='javascript' %}">JavaScript</a>
               <a href="{% url 'category' category='git' %}">Git</a>
               <a href="{% url 'category' category='projects' %}">المشاريع</a>
            </nav>
         </div>
      </div>
      <div class="container">
         <div class="cooked">
            <h1 dir="rtl">تحدي اليوم الثالث: ورشة العمل الأولى</h1>
            <hr>
            <p><img src="{% static 'images/projects/one_mac_project/6/1.png'%}" alt="day3" class="image"></p>
            <p dir="rtl">بدأية أعتذر لتأخر التحدي الثالث حيث كان يجب وضعة مساء الأمس وأشكر الجميع على مجهودهم وتطبيقاتهم الرائعة.</p>
            <h2 dir="rtl">تحدي اليوم سيكون تكويد الأجزاء التالية من <a href="https://ae.udacity.com/one-million-arab-coders/" rel="nofollow noopener" dir="rtl">الموقع</a>:</h2>
            <p></p>
            <div class="lightbox-wrapper" dir="ltr"><a class="lightbox" title="chall.gif" rel="nofollow noopener" dir="ltr"><img src="{% static 'images/projects/one_mac_project/6/2.gif'%}" alt="chall" class="image"></a></div>
            <p></p>
            <p dir="rtl">بإمكانك تكويد هذه الجزء بالطريقة التي تناسبك والتي أنت متمكن فيها بالوقت الحالي ويفضل إستخدام الـ CSS Flexbox, وحاول أن تقوم بتكويد أول قسم من هذا الجزء ومن ثم الإستفادة من تنسيقاتة لعمل بقية الأجزاء كما قمنا في الدرس السابق بحيث لن تحتاج الا العمل على اول قسم ومن ثم تطبيق نفس التنسيقات على الأقسام الأخرى مع تغيير المحتوى.</p>
            <hr>
         </div>
      </div>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>
