#fetcher a { cursor: pointer; word-wrap: break-word; }
#fetcher ul  { list-style: none; }
#fetcher ul ul { list-style: disc; }
#fetcher .navbar-brand a { color: #ffffff; text-decoration: none; }
#fetcher .icon-container.hidden {
    display: none;
}
#fetcher .background-image .course a {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#FFFFFF" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}
#fetcher .navbar-nav, .container {
    display: none;
}
#fetcher aside {
    padding-right: 0px;
    padding-top: 60px;
}
#fetcher aside a {
    padding: 5px 10px;
}
#fetcher aside a.category {
    cursor: default;
    background-color: #909090;
    padding-right: 10px;
    color: #FFFFFF;
    font-weight: bold;
}
#fetcher aside a.category:hover {
    color: #FFFFFF;
}
#fetcher .cooked img {
    max-width: 100%;
}
#fetcher .cooked iframe.youtube { width: 420px; }

@media screen and (max-width: 480px) {
    #fetcher .navbar-brand {
        background: none;
    }

    #fetcher .cooked iframe.youtube {
        width: 100%;
    }
}