<!DOCTYPE html>
{% load static%}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>[الدرس الحادي عشر] Functions</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/github.min.css'%}">
<script src="{% static 'js/highlight.pack.js'%}"></script>
   </head>
   <body>
      <div class="navbar">
         <div class="navbar-brand">
            <div class="">
               Academy
            </div>
         </div>
         <div class="icon-container">
            <div class="humberger-icon">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
         <div class="navbar-nav">
            <nav>
               <div class="close">
                  أغلق <i class="fas fa-times"></i>
               </div>
               <a href="{% url 'home' %}">الرئيسية</a>
               <a href="{% url 'category' category='html_css' %}">HTML & CSS</a>
               <a href="{% url 'category' category='javascript' %}">JavaScript</a>
               <a href="{% url 'category' category='git' %}">Git</a>
               <a href="{% url 'category' category='projects' %}">المشاريع</a>
            </nav>
         </div>
      </div>
      <div class="container">
         <div class="cooked">
            <h1 dir="rtl">المهمة: عمل محرك بحث عن المنتجات في الموقع</h1>
            <hr>
            <p dir="rtl">النتيجة النهائية يجب أن تكون هكذا لا مانع من أن تقوم بتدليع التطبيق وتضيف عليه التنسيقات.<br></p>
            <div class="lightbox-wrapper" dir="ltr"><a class="lightbox"   title="search.gif" rel="nofollow noopener" dir="ltr"><img src="{% static 'images/javascript/16/1.gif'%}" class="image"></a></div>
            <p></p>
            <p dir="rtl"><strong dir="rtl">المهمة كالتالي:</strong></p>
            <p dir="rtl">1- قم بإنشاء Array of Objects وضع فيها البيانات.</p>
            <ul dir="rtl">
            </ul>
            <p dir="rtl">2- ستقوم بعد ذلك بعمل حلقة loop تقوم بمقارنة القيمة المدخلة في حقل البحث مع إسم العناصر الموجودة في مصفوفة الـ objects.</p>
            <ul dir="rtl">
            </ul>
            <p dir="rtl">2- وفي حال تم العثور على العنصر يتم طباعة تفاصيلة اما في حالة عدم وجود العنصر يتم طباعة رسالة توضح ذلك.</p>
            <ul dir="rtl">
            </ul>
            <p dir="rtl">3-  إستعمالك لـ functions يعني بأنك شخص رائع.</p>
            <ul dir="rtl">
            </ul>
            <p dir="rtl">قم بمراجعة الدروس التطبيقية في قائمة الجافاسكربت ستساعدك على تذكر طريقة إضافة العناصر وطباعتها على الصفحة وكذلك تحديد العناصر والحصول على القيمة المدخلة لحقل الإدخال من أجل مقارنتها.</p>
            <ul dir="rtl">
            </ul>
            <hr>
            <p dir="rtl"><strong dir="rtl">ملاحظة:</strong> تظهر علامة الـ x في حقل الإدخال لانني إستخدمت حقل من نوع search وليس text.</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;input</span> <span style="color: #c4a000">type=</span><span style="color: #4e9a06">"search"</span> <span style="color: #c4a000">id=</span><span style="color: #4e9a06">"input"</span> <span style="color: #c4a000">autofocus</span><span style="color: #204a87; font-weight: bold">&gt;</span>
</pre>
            </div>
            <hr>
         </div>
      </div>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>
