<!DOCTYPE html>
{% load static%}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>دروس JavaScript</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
   </head>
   <body class="catalog-page">
      <div class="navbar">
         <div class="navbar-brand">
            <div class="">
               Academy
            </div>
         </div>
         <div class="icon-container">
            <div class="humberger-icon">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
         <div class="navbar-nav">
            <nav>
               <div class="close">
                  أغلق <i class="fas fa-times"></i>
               </div>
               <a href="{% url 'home' %}">الرئيسية</a>
               <a href="{% url 'category' category='html_css' %}">HTML & CSS</a>
               <a href="{% url 'category' category='javascript' %}">JavaScript</a>
               <a href="{% url 'category' category='git' %}">Git</a>
               <a href="{% url 'category' category='projects' %}">المشاريع</a>
            </nav>
         </div>
      </div>
      <div id="javascript" class="container links">
         <h1>دروس JavaScript</h1>
         <p><a href="{% url 'tutorial' category='javascript' id=1 %}">[0] خطة البدء في دروس الـ Javascript</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=2 %}">[1] ماهو الـ DOM وماهي الـ Javascript وما العلاقة بينهما</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=3 %}">[2] constants &amp; variables</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=4 %}">[3 : 1] Data Types</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=5 %}">[3 : 2] Data Types</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=6 %}">[4] Comparison Operators</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=7 %}">[5] Javascript Coding Convention + Rules</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=8 %}">[6] Conditionals</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=9 %}">[7] تطبيق عملي</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=10 %}">[8] Arrays</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=11 %}">[9 : 1] عمل تطبيق To Do List</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=12 %}">[9 : 2] تطبيق عملي | عمل تطبيق To Do List</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=13 %}">[10] Loops</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=14 %}">[11] Functions</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=15 %}">[12] Objects</a></p>
         <p><a href="{% url 'tutorial' category='javascript' id=16 %}">[المهمة الأخير] تطبيق خلاصة كل ما تعلمتة في دروس الجافاسكربت</a></p>
      </div>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>
