@import '~@/assets/styles/vars.scss';
@import '~@/../node_modules/rfs/scss/_rfs';
/*=====================================
Home Style
=======================================*/
.home {
   .jumbotron {
      h1 {
         font-weight: 700 !important;

         &.section-title {
            position: relative;
            display: inline-block;

            &:after,
            &:before {
               top: 50%;
               content: '';
               height: 5px;
               width: 35px;
               position: absolute;
               background: $black-color;
            }

            &:after {
               left: 100%;
               margin-left: 10px;
            }

            &:before {
               right: 100%;
               margin-right: 10px;
            }
         }
      }

      p {
         font-size: 20px;
         font-weight: 450 !important;
      }

      &.main {
         width: 100vw !important;
         height: 100vh !important;

         .jumbotron__background {
            background-image: linear-gradient(rgba($primary-color, 0.8), rgba($accent-color, 0.8)), url("../../assets/multimedia/images/home/home_background.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
         }

         h1 {
            @include responsive-font-size(2.35rem,true);
         }

         p {
            @include responsive-font-size(1.35rem,true);
         }
      }

      &.courses {
         .flex {
            > h1 {
               @include responsive-font-size(2.3rem,true);
            }

            .card {
               position: relative !important;

               .card__media {
                  height: 30vh !important;
               }

               .card__title {
                  height: 50px !important;
                  line-height: 50px !important;
                  padding: 0 25px 0 0 !important;

                  h1 {
                     @include responsive-font-size(0.99rem,true);
                  }
               }

               .card__text {
                  top: 0 !important;
                  z-index: 80 !important;
                  border-radius: 0 !important;
                  position: absolute !important;
                  height: calc(100% - 50px) !important;
                  @include responsive-font-size(0.85rem,true);
               }
            }
         }
      }
   }
}
