@import '~@/assets/styles/vars.scss';
/*=====================================
Home Style
=======================================*/
.home::-webkit-scrollbar-thumb {
   background: #4e0ed9;
}

.home::-webkit-scrollbar-thumb:hover {
   background: #4e0ed9;
}

.home::-webkit-scrollbar-thumb:active {
   background: #4e0ed9;
}

.home {
   .jumbotron {
      h1.section-title {
         position: relative;
         display: inline-block;

         &:after,
         &:before {
            top: 50%;
            content: '';
            height: 5px;
            width: 70px;
            position: absolute;
            background: $black;
         }

         &:after {
            left: 100%;
            margin-left: 20px;
         }

         &:before {
            right: 100%;
            margin-right: 20px;
         }
      }

      h1 {
         font-weight: 700 !important;
      }

      p {
         font-size: 20px;
         font-weight: 450 !important;
      }

      &.courses {
         .flex {
            > h1 {
               position: relative;
               display: inline-block;

               &:after,
               &:before {
                  top: 50%;
                  content: '';
                  height: 5px;
                  width: 70px;
                  position: absolute;
                  background: $black;
               }

               &:after {
                  left: 100%;
                  margin-left: 20px;
               }

               &:before {
                  right: 100%;
                  margin-right: 20px;
               }
            }

            .card {
               position: relative !important;

               .card__title {
                  height: 60px !important;
                  line-height: 60px !important;
                  padding: 0 25px 0 0 !important;
               }

               .card__text {
                  top: 0 !important;
                  z-index: 100 !important;
                  border-radius: 0 !important;
                  position: absolute !important;
                  padding: 25px 50px !important;
                  background: $white !important;
                  height: calc(100% - 60px) !important;
               }
            }
         }
      }

      &.about {
         p {}
      }
   }
}
