<!DOCTYPE html>

{% load static %}

<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Contributors</title>
<link rel="stylesheet" href="{% static 'css/contributors.css' %}">
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link href="https://fonts.googleapis.com/css?family=Cairo|Open+Sans" rel="stylesheet">
</head>

<body>
<nav> <a href="{% url 'home' %}" class="go-back">&#10094;</a>
  <div id="logo"> Coretabs</div>
</nav>
<section>
  <div class="cont-container">
    <h1>Contributors</h1>
    <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero. </p>
  </div>
</section>
<main id="contributers">

  <!-- Start contributer block-->
  <div class="awesome-person">
    <div class="front">
	  <img src="{% static 'images/contributors/alhakem.jpg' %}" alt="">
	</div>
    <div class="back">
      <h2>Mohammed Al-Hakem</h2>
      <p>Front-end web developer &amp; UI/UX designer</p>

	  <!--Start icon set-->
	  <div class="icons">

		<!--Website icon-->
		<a href="#" title="Website">
			<img src="{% static 'images/contributors/icons/website.svg' %}" alt="">
		</a>

		<!--GitHub icon-->
		<a href="#" title="GitHub">
			<img src="{% static 'images/contributors/icons/github.svg' %}" alt="">
		</a>

		<!--Stack overflow icon-->
		<a href="#" title="Stack overflow">
			<img src="{% static 'images/contributors/icons/stack.svg' %}" alt="">
		</a>

		<!--Twiiter icon-->
		<a href="#" title="Twitter">
			<img src="{% static 'images/contributors/icons/twitter.svg' %}" alt="">
		</a>

		<!--LinkedIn icon-->
		<a href="#" title="LinkedIn">
			<img src="{% static 'images/contributors/icons/linkedin.svg' %}" alt="">
		</a>

	  </div>
	  <!--End icon set-->

    </div>
  </div>

  <!-- Start contributer block-->
  <div class="awesome-person">
    <div class="front">
	  <img src="{% static 'images/contributors/yaser.png' %}" alt="">
	</div>
    <div class="back">
      <h2>Yaser Al-Najjar</h2>
      <p>Full-stack Tutor</p>
    </div>
  </div>

  <!-- Start contributer block-->
  <div class="awesome-person">
    <div class="front">
	  <img src="{% static 'images/contributors/ahmed.jpg' %}" alt="">
	</div>
    <div class="back">
      <h2>Ahmed Alrifai</h2>
      <p>Web Developer loves every thing about programming , network and security</p>
        <div class="icons">

		<!--GitHub icon-->
		<a href="https://github.com/ahmedalrifai/" title="GitHub">
			<img src="{% static 'images/contributors/icons/github.svg' %}" alt="">
		</a>

		<!--Twiiter icon-->
		<a href="https://twitter.com/ahmedalrifai_ly" title="Twitter">
			<img src="{% static 'images/contributors/icons/twitter.svg' %}" alt="">
		</a>

		<!--LinkedIn icon-->
		<a href="https://www.linkedin.com/in/ahmedalrifai/" title="LinkedIn">
			<img src="{% static 'images/contributors/icons/linkedin.svg' %}" alt="">
		</a>

	  </div>
	  <!--End icon set-->
    </div>
  </div>

  <!-- Start contributer block-->
  <div class="awesome-person">
    <div class="front">
	  <img src="{% static 'images/contributors/ayman.jpg' %}" alt="">
	</div>
    <div class="back">
      <h2>Ayman Alrifai</h2>
      <p>Front-end Web Developer &amp; I Love design :)</p>
    </div>
  </div>

  <!-- Start contributer block-->
  <div class="awesome-person">
    <div class="front">
	  <img src="{% static 'images/contributors/hichem.jpg' %}" alt="">
	</div>
    <div class="back">
      <h2>Hichem Ahmed Mahboubi</h2>
      <p>Full-stack Web Developer and Django Enthusiast</p>
    </div>
  </div>

  <!-- Start contributer block-->
  <div class="awesome-person">
    <div class="front">
	  <img src="{% static 'images/contributors/salah.jpg' %}" alt="">
	</div>
    <div class="back">
      <h2>Salah Eddine Lachkar</h2>
      <p>Front-end Web Developer &amp; 3D Designer, willing to become a Game Developer in the future</p>
    </div>
  </div>

  <!-- Start contributer block-->
  <div class="awesome-person">
    <div class="front">
	  <img src="{% static 'images/contributors/khaled_lakehal.jpg' %}" alt="">
	</div>
    <div class="back">
      <h2>KHALED LAKEHAL</h2>
      <p>Software Engineer &amp; Front-end Web Developer</p>

	  <!--Start icon set-->
	  <div class="icons">

		<!--Twiiter icon-->
		<a href="https://twitter.com/KHALED_DEV_Alg" title="Twitter">
			<img src="{% static 'images/contributors/icons/twitter.svg' %}" alt="">
		</a>

		<!--LinkedIn icon-->
		<a href="https://www.linkedin.com/in/khaled-lakehal-1744a910a/" title="LinkedIn">
			<img src="{% static 'images/contributors/icons/linkedin.svg' %}" alt="">
		</a>

	  </div>
	  <!--End icon set-->
    </div>
  </div>

  <!-- Start contributer block-->
  <div class="awesome-person">
    <div class="front">
	  <img src="{% static 'images/contributors/LouayH.jpg' %}" alt="">
	</div>
    <div class="back">
      <h2> Louay Hamada</h2>
      <p>Full-stack Web Application Developer</p>
        <!--Start icon set-->
	  <div class="icons">

		<!--Website icon-->
		<a href="http://louayhamada.com/" title="Website" target="_blank">
			<img src="{% static 'images/contributors/LH.png' %}" width="24" />
		</a>

		<!--Twiiter icon-->
		<a href="http://twitter.com/louayhamada" title="Twitter" target="_blank">
			<img src="{% static 'images/contributors/icons/twitter.svg' %}" alt="">
		</a>

		<!--GitHub icon-->
		<a href="http://github.com/LouayH/" title="GitHub" target="_blank">
			<img src="{% static 'images/contributors/icons/github.svg' %}" alt="">
		</a>

		<!--Stack overflow icon-->
		<a href="http://stackoverflow.com/users/1398488/louay-hamada" title="Stack overflow" target="_blank">
			<img src="{% static 'images/contributors/icons/stack.svg' %}" alt="">
		</a>

	  </div>
	  <!--End icon set-->
    </div>
  </div>

  <!-- Dummy-div to fix flexbox empty space -->
  <div class="dummy-div"> </div>
  <div class="dummy-div"> </div>
  <div class="dummy-div"> </div>
  <div class="dummy-div"> </div>
</main>

<!--
<section class="join-team">
  <div class="cont-container">
    <a href="#">Join Our Team</a>
  </div>
</section>	
-->
	
<footer>
  <div class="text"> Made with <img src="{% static 'images/heart.png' %}" alt="heart"> by <a href="#top"> Our Contributors</a> </div>
</footer>

</body>
</html>
