{% extends "base.html" %}
{% load i18n %}
{% block head_title %} Coretabs {% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}

        <p><a href="{% url "account_logout" %}">
            Logout
        </a></p>

        <p><a href="{% url "account_settings" %}">
            Account
        </a></p>

        <p><a href="{% url "account_password" %}">
            Change password
        </a></p>

        <p><a href="">
            Delete account
        </a></p>

    {% else %}
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ lang.1 }} ({{ lang.0 }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" />
        </form>

        <p><a href="{% url "account_login" %}">
            Login
        </a></p>

        <p><a href="{% url "account_signup" %}">
            Signup
        </a></p>
    {% endif %}

    <p><a href="{% url "book_list" %}">
        See All Books
    </a></p>

{% endblock %}