@import 'assets/styles/vars';
@import 'assets/vendor/fonts/cario/cario';
@import 'assets/vendor/fonts/material-design-icons/material-icons';
@import '../node_modules/vuetify/dist/vuetify.min';
@import '~@/../node_modules/rfs/scss/_rfs';
@import 'assets/styles/scrollbar';
/*=====================================
Global Style
=======================================*/
* {
   outline: none;
   font-family: 'Cairo', sans-serif;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}

::selection {
   color: $white-color;
   background: $primary-color;
}

html {
   line-height: 1.5;
   scroll-behavior: smooth;
   @include responsive-font-size(1rem,true);
}

body {
   color: $white-color;
   background: $black-color;
   overflow-x: hidden !important;
}

a {
   color: inherit;
   text-decoration: none !important;
}

.section-title {
   position: relative;
   display: inline-block;
   font-weight: 700 !important;
   @include responsive-font-size(2rem,true);

   &:after,
   &:before {
      top: 50%;
      content: '';
      height: 5px;
      width: 35px;
      position: absolute;
      background: $black-color;
   }

   &:after {
      left: 100%;
      margin-left: 10px;
   }

   &:before {
      right: 100%;
      margin-right: 10px;
   }
}
@include center(true);

.no-select {
   user-select: none;
}

.align-center {
   text-align: center !important;
}

.hide {
   display: none !important;
}

.content {
   .container {
      padding: 0;
   }
}

.menu__content {
   min-width: 11vw !important;
}

.main-container {
   height: 100% !important;
}

.progress-container {
   height: 100% !important;
}
