@import 'assets/vendor/normalize.min.scss';
@import 'assets/vendor/fonts/roboto/roboto.min.scss';
@import 'assets/vendor/fonts/material-design-icons/material-icons.min.scss';
@import 'assets/styles/vars.scss';
@import 'assets/styles/scrollbar.scss';
/*=====================================
Global Style
=======================================*/
* {
   outline: none;
}

html {
   line-height: 1.5;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: 'Roboto',sans-serif;
}

html[direction='rtl'] {
   font-family: 'Cairo', sans-serif;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

::selection {
   color: #ffffff;
   background: #7f2a90;
}

.no-select {
   user-select: none;
}

.content {
   margin-top: calc(#{$header-height} * -1);

   .container {
      padding: 0;
   }
}
