<!DOCTYPE html>
{% load static%}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>دروس Full Stack</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-brand">
				<div class="lang">
				</div>
				<div>
					Academy
				</div>
			</div>
			<div class="icon-container">
				<div class="humberger-icon">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="navbar-nav">
				<nav>
					<div class="close">
					   أغلق <i class="fas fa-times"></i>
					</div>
				</nav>
			</div>
		</div>
		<div class="container">
			<div class="cooked">
			</div>
			<aside>

			</aside>
		</div>
		
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
		<script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/settings.js' %}"></script>
	</body>
</html>