{% extends 'base.html' %}
{% load static i18n %}

{% block head_title %}{% trans "Full Stack Lessons" %}{% endblock %}

{% block links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/fetcher.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/github.min.css'%}">
    <script src="{% static 'js/highlight.pack.js'%}"></script>
{% endblock %}

{% block body_attr %} id="fetcher" class="home fullstack upper-badding" {% endblock %}

{% block header %}
    <div class="inner-nav">
        <a href="{% url 'fullstack' %}" class="go-back">&#10094;</a>
        <div id="logo"><a href="{% url 'home' %}">{% trans "Academy" %}</a></div>
        <div class="icon-container hidden">
            <div class="humberger-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-nav">
        </div>
    </div>
{% endblock %}

{% block page_description %}
    <div class="about">
        <h1>{% trans 'Full Stack' %}</h1>
        <p>
            {% blocktrans %}english fullstack description{% endblocktrans %}
        </p>
    </div>
{% endblock %}

{% block main %}
    <main id="main" class="beauty-box fix-upper-padding">
        <div class="courses_container">
            Loading... Please Wait
        </div>
    </main>
    <div class="container">
        <div class="cooked">
        </div>
        <aside>
        </aside>
    </div>
{% endblock %}

{% block more_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
    {% load static %}
    <script src="{% static 'js/fetcher.js' %}"></script>
{% endblock %}