@import './vars';
/*=====================================
Scrollbar Style
=======================================*/
::-webkit-scrollbar {
   width: 5px !important;
   background: $secondary-color !important;
}
// ::-webkit-scrollbar-button:start:decrement {
//    height: $header-height;
// }
//
// ::-webkit-scrollbar-button:end:increment {
//    height: 0 !important;
// }

::-webkit-scrollbar-thumb {
   border-radius: 10px !important;
   background: $primary-color !important;
}
