$info-color: #2196f3;
$error-color: #f44336;
$black-color: #222203;
$white-color: #ffffff;
$accent-color: #ff4081;
$primary-color: #3f51b5;
$success-color: #4caf50;
$warning-color: #ffeb3b;
$secondary-color: #e0e0e0;
$header-height: 60px;
$cario-font: 'assets/vendor/fonts/cario/';
$material-design-font: 'assets/vendor/fonts/material-design-icons/';
@mixin center($class) {
   @if($class) {
      .center {
         top: 50% !important;
         left: 50% !important;
         position: absolute !important;
         transform: translate(-50%,-50%) !important;
      }
   }

   @else {
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%,-50%) !important;
   }
}
