$white: #ffffff;
$black: #222203;
$header-height: 60px;
$cario-font: 'assets/vendor/fonts/cario/';
$roboto-font: 'assets/vendor/fonts/roboto/';
$montserrat-font: 'assets/vendor/fonts/montserrat/';
$material-design-font: 'assets/vendor/fonts/material-design-icons/';
