$info-color: #2196f3;
$error-color: #f44336;
$black-color: #222203;
$white-color: #ffffff;
$accent-color: #ff4081;
$primary-color: #3f51b5;
$success-color: #4caf50;
$warning-color: #ffeb3b;
$secondary-color: #e0e0e0;
$header-height: 60px;
$cario-font: 'assets/vendor/fonts/cario/';
$roboto-font: 'assets/vendor/fonts/roboto/';
$montserrat-font: 'assets/vendor/fonts/montserrat/';
$material-design-font: 'assets/vendor/fonts/material-design-icons/';
