<!DOCTYPE html>
{% load static%}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>[الدرس الثالث]: Block and Inline Elements</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
   </head>
   <body>
      <div class="navbar">
         <div class="navbar-brand">
            <div class="">
               Academy
            </div>
         </div>
         <div class="icon-container">
            <div class="humberger-icon">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
         <div class="navbar-nav">
            <nav>
               <div class="close">
                  أغلق <i class="fas fa-times"></i>
               </div>
               <a href="../../index.html">الرئيسية</a>
               <a href="../html_css/html-css.html">HTML & CSS</a>
               <a href="../javascript/javascript.html">JavaScript</a>
               <a href="../git/git.html">Git</a>
               <a href="../projects/projects.html">المشاريع</a>
            </nav>
         </div>
      </div>
      <div class="container">
         <div class="cooked">
            <h1>عناصر Block و Inline</h1>
            <hr>
            <p dir="rtl"></p>
            <p dir="rtl"><strong dir="rtl"></strong></p>
            <p dir="rtl">مستند الـ HTML يتكون من العديد من العناصر التي نعتبرها كوحدات البناء والهيكلة لصفحة الويب وحتى يتم عمل التنسيقات لهذه العناصر وتحديد طريقة عرضها تم تصنيفها إلى نوعين.</p>
            <img class="image" src="../../images/html_css/3/1.jpg">
            <ul dir="rtl">
               <li dir="rtl">
                  <strong dir="rtl">عناصر نوع Block</strong> :
               </li>
            </ul>
            <p dir="rtl">هذه العناصر بإمكانك تخيلها كصندوق عند وضعة على صفحتك فسوف يأخذ مساحة العرض كاملة مما يعني أنه لا يقبل بأن يشاركة أي عنصر أخر بنفس السطر.<br></p>
            <img class="image" src="../../images/html_css/3/2.jpg">
            <p dir="rtl"><strong dir="rtl">أمثلة:</strong></p>
            <p dir="rtl">لنقوم بفتح محرر النصوص وكتابة الكود التالي:</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;p&gt;</span>Hello world!<span style="color: #204a87; font-weight: bold">&lt;/p&gt;</span> <span style="color: #204a87; font-weight: bold">&lt;p&gt;</span>Welcome to One Million Arab Coder<span style="color: #204a87; font-weight: bold">&lt;/p&gt;</span>
</pre>
            </div>
            <p dir="rtl"><strong dir="rtl">النتيجة:</strong><br></p>
            <img class="image" src="../../images/html_css/3/3.jpg">
            <p dir="rtl">كما تلاحظ تم كتابة كل عنصر في سطر منفصل مع اننا لم نحدد أننا نريد ذلك بشكل او بأخر</p>
            <hr>
            <ul dir="rtl">
               <li dir="rtl">
                  <strong dir="rtl">عناصر نوع Inline</strong>:
               </li>
            </ul>
            <p dir="rtl">بعكس العناصر من نوع Block هذه العناصر تشارك بعضها المساحة ولا تأخذ العرض كامل وبإمكانك إدراج أكثر من عنصر بجوار بعضها البعض.<br></p>
            <img class="image" src="../../images/html_css/3/4.jpg">
            <p dir="rtl"><strong dir="rtl">أمثلة:</strong></p>
            <p dir="rtl">لنقوم بفتح محرر النصوص وكتابة الكود التالي:</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;span&gt;</span>Hello World! <span style="color: #204a87; font-weight: bold">&lt;/span&gt;&lt;span&gt;</span>Welcome to One Million Arab Coder<span style="color: #204a87; font-weight: bold">&lt;/span&gt;</span>
</pre>
            </div>
            <p dir="rtl"><strong dir="rtl">النتيجة:</strong><br></p>
            <img class="image" src="../../images/html_css/3/5.jpg">
            <p dir="rtl">لاحظ كيف تم عرض العناصر هذه المرة في سطر واحد</p>
            <hr>
            <p dir="rtl"><strong dir="rtl">في الختام:</strong></p>
            <ul dir="rtl">
               <li dir="rtl">
                  <p dir="rtl">لا يجب عليك أن تحفظ أي العناصر هي block وايها inline بل أن تفهم  الفكرة ومع الوقت و الممارسة ستستطيع تحديد ذلك كونك قد سبق وأستخدمت العنصر الفلاني وتعرف طريقة عرضة وعملة.</p>
               </li>
               <li dir="rtl">
                  <p dir="rtl">يوجد في المسار كويز لهذا الموضوع واعتقد أن الأغلب قد مروا به, ما اتمناه هو انكم قد أستطعتم معرفة الجواب عبر تطبيق ذلك بكتابة الأكواد في محرر النصوص وتحديد النوع من خلال مشاهدة النتيجة كما قمنا في الأمثلة أعلاة.</p>
               </li>
               <li dir="rtl">
                  <p dir="rtl">ربما قد تكون تتسأل عن نوع وسم <code dir="ltr">&lt;br&gt;</code> و وسم <code dir="ltr">&lt;hr&gt;</code> قم بالتجربة والبحث عن الإجابة واطلعنا عليها</p>
               </li>
            </ul>
            <hr>
         </div>
      </div>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>
