<!DOCTYPE html>
{% load static%}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>[الدرس الحادي عشر]: Semantic HTML</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
   </head>
   <body>
      <div class="navbar">
         <div class="navbar-brand">
            <div class="">
               Academy
            </div>
         </div>
         <div class="icon-container">
            <div class="humberger-icon">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
         <div class="navbar-nav">
            <nav>
               <div class="close">
                  أغلق <i class="fas fa-times"></i>
               </div>
               <a href="{% url 'home' %}">الرئيسية</a>
               <a href="{% url 'category' category='html_css' %}">HTML & CSS</a>
               <a href="{% url 'category' category='javascript' %}">JavaScript</a>
               <a href="{% url 'category' category='git' %}">Git</a>
               <a href="{% url 'category' category='projects' %}">المشاريع</a>
            </nav>
         </div>
      </div>
      <div class="container">
         <div class="cooked">
            <h1>Semantic HTML</h1>
            <hr>
            <h1 dir="rtl">مالذي قمنا به حتى الأن ؟</h1>
            <p dir="rtl">من خلال التجارب التي مررنا بها في الدروس السابقة وفي ورش العمل أصبح لدينا قدرة على إنشاء صفحات ويب مقسمة ومرتبة بحيث تكون مفهومة لأي بني ادم يقوم بزيارتها.</p>
            <p dir="rtl"><strong dir="rtl">لكن السؤال هو هل نستطيع جعل ما قمنا به منظم ومرتب بحيث يكون له معنى للآلات حتى أكون أكثر تحديداً محركات البحث وقارئات الشاشات ؟</strong></p>
            <p dir="rtl">نعم نستطيع القيام بذلك بإستخدام ما تم تقديمة في HTML5 و ما يسمى بالعناصر الدلالية (Semantic Elements), فما هي هذه العناصر؟</p>
            <hr>
            <h2 dir="rtl">العناصر الدلالية -  Semantic Elements</h2>
            <p dir="rtl">هي وسوم يتم إستخدام كلاً منها حسب دلالته بحيث يصبح هيكل الصفحة ذا معنى ومرتب للمطور و للالات مما يتيح لمحركات البحث من قراءة و معرفة محتوى صفحة الموقع.</p>
            <p dir="rtl">في ورش العمل والدروس السابقة قمنا بإستخدام الـ div لتقسيم الموقع وكنا نقوم بإعطاء كل div كلاس او id ذو معنى كما قمنا في دروس إستنتساخ واجهتي الفيسبوك و موقع المبادرة, على سبيل المثال ما قمنا به في موقع الفيسبوك <br></p>
            <div class="lightbox-wrapper" dir="ltr"><a class="lightbox"   title="image.jpg" rel="nofollow noopener" dir="ltr"><img src="{% static 'images/html_css/11/1.png'%}"  alt="image" class="image"></a></div>
            <p></p>
            <p dir="rtl">إستخدمنا الكود التالي للتقسيمات الرئيسية:</p>

            <div style="background: #f8f8f8; overflow:auto;width:auto;padding:.2em .6em;">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;div</span> <span style="color: #c4a000">id=</span><span style="color: #4e9a06">"header"</span><span style="color: #204a87; font-weight: bold">&gt;&lt;/div&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;div</span> <span style="color: #c4a000">id=</span><span style="color: #4e9a06">"main"</span><span style="color: #204a87; font-weight: bold">&gt;&lt;/div&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;div</span> <span style="color: #c4a000">id=</span><span style="color: #4e9a06">"footer"</span><span style="color: #204a87; font-weight: bold">&gt;&lt;/div&gt;</span>
</pre>
            </div>
            <p dir="rtl">نستطيع الأن جعل تلك الأقسام أكثر معنى للالات بإستخدام عناصر الـ Semantic كالتالي:</p>

            <div style="background: #f8f8f8; overflow:auto;width:auto;padding:.2em .6em;">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;header&gt;&lt;/header&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;main&gt;&lt;/main&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;footer&gt;&lt;/footer&gt;</span>
</pre>
            </div>
            <p dir="rtl">ونستطيع أن تقوم بعمل التنسيقات لها بشكل مباشر هكذا:</p>

            <div style="background: #f8f8f8; overflow:auto;width:auto;padding:.2em .6em;">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">header</span> <span style="color: #000000; font-weight: bold">{</span>
<span style="color: #204a87; font-weight: bold">width</span><span style="color: #ce5c00; font-weight: bold">:</span> <span style="color: #0000cf; font-weight: bold">100</span><span style="color: #ce5c00; font-weight: bold">%</span><span style="color: #000000; font-weight: bold">;</span>
<span style="color: #204a87; font-weight: bold">min-width</span><span style="color: #ce5c00; font-weight: bold">:</span> <span style="color: #0000cf; font-weight: bold">980px</span><span style="color: #000000; font-weight: bold">;</span>
<span style="color: #204a87; font-weight: bold">height</span><span style="color: #ce5c00; font-weight: bold">:</span> <span style="color: #0000cf; font-weight: bold">82px</span><span style="color: #000000; font-weight: bold">;</span>
<span style="color: #204a87; font-weight: bold">background-color</span><span style="color: #ce5c00; font-weight: bold">:</span> <span style="color: #0000cf; font-weight: bold">#3b5998</span><span style="color: #000000; font-weight: bold">;</span>
<span style="color: #204a87; font-weight: bold">background</span><span style="color: #ce5c00; font-weight: bold">:</span> <span style="color: #000000">linear</span><span style="color: #ce5c00; font-weight: bold">-</span><span style="color: #000000">gradient</span><span style="color: #000000; font-weight: bold">(</span><span style="color: #0000cf; font-weight: bold">#4e69a2</span><span style="color: #ce5c00; font-weight: bold">,</span> <span style="color: #0000cf; font-weight: bold">#3b5998</span><span style="color: #000000; font-weight: bold">);</span>
<span style="color: #204a87; font-weight: bold">border-bottom</span><span style="color: #ce5c00; font-weight: bold">:</span> <span style="color: #0000cf; font-weight: bold">1px</span> <span style="color: #204a87; font-weight: bold">solid</span> <span style="color: #0000cf; font-weight: bold">#133783</span><span style="color: #000000; font-weight: bold">;</span>
<span style="color: #000000; font-weight: bold">}</span>
</pre>
            </div>
            <p dir="rtl">او بالإستمرار بإستخدام id او class يتم إعطائه للعنصر كالتالي:</p>

            <div style="background: #f8f8f8; overflow:auto;width:auto;padding:.2em .6em;">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;header</span> <span style="color: #c4a000">id=</span><span style="color: #4e9a06">"header"</span><span style="color: #204a87; font-weight: bold">&gt;&lt;/header&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;main</span>  <span style="color: #c4a000">id=</span><span style="color: #4e9a06">"main"</span><span style="color: #204a87; font-weight: bold">&gt;&lt;/main&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;footer</span>  <span style="color: #c4a000">id=</span><span style="color: #4e9a06">"footer"</span><span style="color: #204a87; font-weight: bold">&gt;&lt;/footer&gt;</span>
</pre>
            </div>
            <p dir="rtl">ما يعني أنه بإمكانك إعتبار هذه العناصر كغيرها من عناصر الـ div التي قمنا بالعمل عليها سابقاً ولكن تختلف عنها بأن لها دلالة ومعنى.</p>
            <h3 dir="rtl">لنلقي نظرة على الصورة التالية:</h3>
            <p></p>
            <div class="lightbox-wrapper" dir="ltr"><a class="lightbox"   title="image.png" rel="nofollow noopener" dir="ltr"><img src="{% static 'images/html_css/11/2.png'%}" alt="image" class="image"></a></div>
            <p></p>
            <p dir="rtl">ما تشاهدة بالجانب الأيسر في الصورة أعلاة هو إستخدام الـ div لعمل تقسيم للموقع وفي الجانب الأيمن إستخدام الـ Semantic Elements للقيام بمثل ذلك التقسيم الفرق هو أن كودك سيكون صديق لمحركات البحث وأكثر ترتيباً وفهماً سوى لمحركات البحث أو لك أنت كمطور.</p>
            <hr>
            <h1 dir="rtl">هل هذه أول مرة نتعامل مع هذه العناصر؟</h1>
            <p dir="rtl">بالتأكيد أنك قد مررت على العديد من الوسوم الدلالية مثل الوسم <code dir="ltr">&lt;table&gt;</code> والذي قمنا بإستخدامة سابقاً لعمل الجداول.<br>
               الوسم <code dir="ltr">&lt;strong&gt;</code> أو الوسم <code dir="ltr">&lt;em&gt;</code>
            </p>
            <p dir="rtl">هل في هذه المرحلة أصبحت تعرف الفرق بين الوسم <code dir="ltr">&lt;strong&gt;</code> وبين الوسم <code dir="ltr">&lt;b&gt;</code> أرجوا منك إخباري بذلك في التعليقات.</p>
            <p dir="rtl">اذا فقد سبق وأن تعاملنا مع العديد من الوسوم الدلالية لهذا لا تفكر بأن هذا الموضوع مختلف كلياً عما سبق وتعلمناه بل إعتبرة إسلوب حديث يجب عليك أن تتعلم طريقة إستخدمة بالطريقة الصحيحة.</p>
            <p dir="rtl">للخوض في تفاصيل الـ Semantic Elements لن يكفيني موضوع أو موضوعين بل سنحتاج لعمل تطبيقات عملية لها في المستقبل القريب إن شاء الله  لهذا لن أطيل في التفاصيل حتى لا يصبح الموضوع ممل ولكن سأضع لكم مصادر في أخر الموضوع يجب عليكم قرأتها والإلمام بها ومع الوقت ستصبح هذه الممارسات الجيدة بديهية بالنسبة لكم وستعرفون متى يجب إستخدام أي من هذه العناصر الدلالية للوصول إلى هيكلة مثالية للموقع الذي تعمل عليه.</p>
            <hr>
            <h1 dir="rtl">العناوين ليست لغرض التنسيقات</h1>
            <p dir="rtl">البعض يسئ إستخدام العناوين h1 … h6 فهي ليست هنا حتى تعطيك خط بتنسيق <strong dir="ltr">bold</strong> وأحجام مختلفة فعند إستخدامك للعناوين يجب أن تستخدمها بالشكل الصحيح فعلى أساس هذه العناوين أنت تحدد هيكلة وأهمية كل جزئية في الموقع لمحركات البحث.</p>
            <p dir="rtl"><strong dir="rtl">لنأخذ المثال التالي:</strong></p>

            <div style="background: #f8f8f8; overflow:auto;width:auto;padding:.2em .6em;">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;h1&gt;</span>Websites Developments<span style="color: #204a87; font-weight: bold">&lt;/h1&gt;</span>

<span style="color: #204a87; font-weight: bold">&lt;h2&gt;</span>Front-end Web Development<span style="color: #204a87; font-weight: bold">&lt;/h2&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h3&gt;</span>HTML<span style="color: #204a87; font-weight: bold">&lt;/h3&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h3&gt;</span>CSS<span style="color: #204a87; font-weight: bold">&lt;/h3&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h3&gt;</span>JS<span style="color: #204a87; font-weight: bold">&lt;/h3&gt;</span>

<span style="color: #204a87; font-weight: bold">&lt;h2&gt;</span>Back-end Web Development<span style="color: #204a87; font-weight: bold">&lt;/h2&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h3&gt;</span>C#<span style="color: #204a87; font-weight: bold">&lt;/h3&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h3&gt;</span>Python<span style="color: #204a87; font-weight: bold">&lt;/h3&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h3&gt;</span>SQL<span style="color: #204a87; font-weight: bold">&lt;/h3&gt;</span>
</pre>
            </div>
            <p dir="rtl">قم بتجربة الكود بإستخدام أداة HTML Outliner التالية <a href="https://gsnedders.html5.org/outliner/" rel="nofollow noopener" dir="rtl"><strong dir="rtl">من هنا</strong></a></p>
            <p dir="rtl"><strong dir="rtl">النتيجة:</strong><br></p>
            <div class="lightbox-wrapper" dir="ltr"><a class="lightbox"   title="image.png" rel="nofollow noopener" dir="ltr"><img src="{% static 'images/html_css/11/3.png'%}"  alt="image" class="image"></a></div>
            <p></p>
            <p dir="rtl">لاحظ طريقة تترتيب العناوين كأنها خريطة للموقع حيث أتى العنوان h1 كالأب ومن ثم تم إدارج العنوان h2 كإبن له و العناوين h3 كأبنا لكل h2</p>
            <p dir="rtl">في الكود أعلاة حدننا أن العنوان الرئيسي لصفحتنا والأهم هو Websites Developments نستطيع القول بأن أرشفة هذه الصفحة في محركات البحث سيكون تحت ذلك العنوان.</p>
            <p dir="rtl">في السابق كان أحد أهم قواعد إستخدام العناوين في الصفحات هو أن تضع h1 واحدة فقط بالصفحة وذلك حتى يشير للموضوع الرئيسية والمهم في هذه الصفحة فتستطيع محركات البحث أرشفتها تحت ذلك العنوان ولكن في الوقت الحالي أصبح بإمكاننا وضع أقسام منفصلة بداخل الصفحة نفسها بحيث يكون لكل قسم العنوان الخاص به.</p>
            <p dir="rtl"><strong dir="rtl">على سبيل المثال لنقم بوضع الهيكلة التالية في أداة الـ HTML Outliner  <a href="https://gsnedders.html5.org/outliner/" rel="nofollow noopener" dir="rtl">من هنا</a>:</strong></p>

            <div style="background: #f8f8f8; overflow:auto;width:auto;padding:.2em .6em;">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;section&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h1&gt;</span>About 1MAC<span style="color: #204a87; font-weight: bold">&lt;/h1&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;p&gt;</span>Mohammed bin Rashid al Maktoum's initiative to empower Arabs with the language of the future<span style="color: #204a87; font-weight: bold">&lt;/p&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;/section&gt;</span>

<span style="color: #204a87; font-weight: bold">&lt;section&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h1&gt;</span>Discover the 4 different tracks available<span style="color: #204a87; font-weight: bold">&lt;/h1&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h2&gt;</span>BECOME A FULL-STACK WEB DEVELOPER<span style="color: #204a87; font-weight: bold">&lt;/h2&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h2&gt;</span>BECOME AN ANDROID APP GURU<span style="color: #204a87; font-weight: bold">&lt;/h2&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h2&gt;</span>BECOME A FRONT-END WEB EXPERT<span style="color: #204a87; font-weight: bold">&lt;/h2&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;/section&gt;</span>
</pre>
            </div>
            <p dir="rtl"><strong dir="rtl">النتيجة:</strong><br></p>
            <div class="lightbox-wrapper" dir="ltr"><a class="lightbox"   title="image.png" rel="nofollow noopener" dir="ltr"><img src="{% static 'images/html_css/11/4.png'%}"  alt="image" class="image"></a></div>
            <p></p>
            <p dir="rtl">لاحظ أنه تم التعرف على h1 واحد خاص بكل قسم section ماعدا الـ h1 الرئيسي الخاص بالصفحة وتم كتابة Untitled section وبالفعل لم نقم بإعطاء عنوان رئيسي للصفحة لهذا سنقوم به كالتالي:</p>

            <div style="background: #f8f8f8; overflow:auto;width:auto;padding:.2em .6em;">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;h1&gt;</span>Hello, One Million Arab Coders!<span style="color: #204a87; font-weight: bold">&lt;/h1&gt;</span>

<span style="color: #204a87; font-weight: bold">&lt;section&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h1&gt;</span>About 1MAC<span style="color: #204a87; font-weight: bold">&lt;/h1&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;p&gt;</span>Mohammed bin Rashid al Maktoum's initiative to empower Arabs with the language of the future<span style="color: #204a87; font-weight: bold">&lt;/p&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;/section&gt;</span>

<span style="color: #204a87; font-weight: bold">&lt;section&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h1&gt;</span>Discover the 4 different tracks available<span style="color: #204a87; font-weight: bold">&lt;/h1&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h2&gt;</span>BECOME A FULL-STACK WEB DEVELOPER<span style="color: #204a87; font-weight: bold">&lt;/h2&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h2&gt;</span>BECOME AN ANDROID APP GURU<span style="color: #204a87; font-weight: bold">&lt;/h2&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h2&gt;</span>BECOME A FRONT-END WEB EXPERT<span style="color: #204a87; font-weight: bold">&lt;/h2&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;/section&gt;</span>
</pre>
            </div>
            <p dir="rtl"><strong dir="rtl">النتيجة:</strong><br></p>
            <div class="lightbox-wrapper" dir="ltr"><a class="lightbox"   title="image.png" rel="nofollow noopener" dir="ltr"><img src="{% static 'images/html_css/11/5.png'%}" alt="image" class="image"></a></div>
            <p></p>
            <p dir="rtl"><strong dir="rtl">رائع!</strong></p>
            <p dir="rtl">هل تلاحظ أنه بالرغم بأنه لدينا ثلاثة عناوين من نوع h1 فلماذا تم إعتبار أول عنوان هو الأب لهم ولم يتم إعتبار تلك العناوين كإخوة له؟</p>
            <p dir="rtl">لنجرب إزالة وسوم الأقسام section لنشاهد النتيجة:</p>

            <div style="background: #f8f8f8; overflow:auto;width:auto;padding:.2em .6em;">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;h1&gt;</span>Hello, One Million Arab Coders!<span style="color: #204a87; font-weight: bold">&lt;/h1&gt;</span>

<span style="color: #204a87; font-weight: bold">&lt;h1&gt;</span>About 1MAC<span style="color: #204a87; font-weight: bold">&lt;/h1&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;p&gt;</span>Mohammed bin Rashid al Maktoum's initiative to empower Arabs with the language of the future<span style="color: #204a87; font-weight: bold">&lt;/p&gt;</span>

<span style="color: #204a87; font-weight: bold">&lt;h1&gt;</span>Discover the 4 different tracks available<span style="color: #204a87; font-weight: bold">&lt;/h1&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h2&gt;</span>BECOME A FULL-STACK WEB DEVELOPER<span style="color: #204a87; font-weight: bold">&lt;/h2&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h2&gt;</span>BECOME AN ANDROID APP GURU<span style="color: #204a87; font-weight: bold">&lt;/h2&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;h2&gt;</span>BECOME A FRONT-END WEB EXPERT<span style="color: #204a87; font-weight: bold">&lt;/h2&gt;</span>
</pre>
            </div>
            <p dir="rtl"><strong dir="rtl">النتيجة:</strong><br></p>
            <div class="lightbox-wrapper" dir="ltr"><a class="lightbox"   title="image.png" rel="nofollow noopener" dir="ltr"><img src="{% static 'images/html_css/11/6.png'%}" alt="image" class="image"></a></div>
            <p></p>
            <p dir="rtl">اذا نستنتج أن إستخدامنا للوسم الدلالي section يساعدنا على تقسيم موقعنا كأقسام منفصلة بحيث نستطيع وضع أكثر من عنوان h1 دون التأثير على فكرة الحصول على عنوان واحد فقط ليصف المحتوى كاملاً.</p>
            <hr>
            <h1 dir="rtl">لماذا التركيز على هذه العناصر وهيكلة الموقع بالشكل الصحيح مهم؟</h1>
            <p dir="rtl">يجب أن ندرك أننا كمطوري واجهات ويب لا يقتضي عملنا بالخروج بتصميم رائع بقدر ما يقتضي دورنا في جعل هذا التصميم صديق للزوار وصديق لمحركات البحث.</p>
            <p dir="rtl">فإذا ما إخترت أن تكون مصمم و مطور واجهات ويب يجب عليك أن تدرك أن التصميم سلاح ذو حدين وعليك أن تعرف حدودك في كل مرة تبدأ فيها بمشروع جديد.</p>
            <p dir="rtl">فأن تهتم بالجانب المرئي للزوار وتجعل جل إهتمامك بعمل تنسيقات وتصاميم لأجزاء الموقع على حساب هيكلة الموقع و جوهرة يعني أنك ترتكب خطأ كبير.</p>
            <p dir="rtl">فما تقوم به هو أنك تتجاهل حقيقة ما يعنية الموقع الإلكتروني لمن قام بالتعاقد معك للعمل على إيصال رؤيته وما يقدمة من خدمات ومن رغبته في إثبات وجوده على شبكة الويب بالوصول إليه عبر محركات البحث.</p>
            <h2 dir="rtl">تذكر أني كعميل لك سأكون سعيد بأن تقدم لي موقع يمتاز بشيئين:</h2>
            <p dir="rtl">1- <strong dir="rtl">موقع صديق للزوار:</strong> أن تهتم بتجربة المستخدم من سهولة وسرعة الوصول للمعلومات التي في الموقع.</p>
            <p dir="rtl">2- <strong dir="rtl">موقع صديق لمحركات البحث:</strong> أن تهتم بهيكلة الموقع مما يساعد على سهولة وصول المهتمين بتلك البيانات إلية من خلال محركات البحث.</p>
            <h2 dir="rtl">اذاً ما الذي يجب عليك؟</h2>
            <p dir="rtl">أن تحرص على أن تتعلم هذه الممارسات الجيدة عبر فهمها وليس حفظها بإستخدام المصادر التالية ومن ثم مع الممارسة ستتقنها:</p>
            <p dir="rtl"><a href="https://www.w3schools.com/html/html5_semantic_elements.asp" rel="nofollow noopener" dir="rtl">المصدر الأول</a><br>
               <a href="http://html5doctor.com/article-archive/" rel="nofollow noopener" dir="rtl">المصدر الثاني</a><br>
               <a href="https://internetingishard.com/html-and-css/semantic-html/#nav-elements" rel="nofollow noopener" dir="rtl">المصدر الثالث</a><br>
               <a href="http://w3c.github.io/html/sections.html" rel="nofollow noopener" dir="rtl">المصدر الرابع</a>
            </p>
            <hr>
            <h2 dir="rtl">تمرين اليوم</h2>
            <p dir="rtl">قم بجعل أكواد الـ HTML الخاصة بورشة إستنساخ المبادة أكثر ترتيباً وذا معنى بإستخدام الـ Semantic Elements</p>

            <div style="background: #f8f8f8; overflow:auto;width:auto;padding:.2em .6em;">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;header&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;nav&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;main&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;section&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;footer&gt;</span>
</pre>
            </div>
            <p dir="rtl">وغيرها من الوسوم حسب الحاجة وستجدها <a href="https://www.w3schools.com/html/html5_semantic_elements.asp" rel="nofollow noopener" dir="rtl">جميعها هنا</a> بنفس الطريقة التي قمنا بها أعلاة مع أكواد موقع الفيسبوك</p>
            <p dir="rtl">أكواد المشروع من هنا<br></p>
            <p></p>
            <p dir="rtl"><strong dir="rtl">قم برفع عملك على GitHub أو على Codepen وشاركة معنا.</strong></p>
            <hr>
            <p dir="rtl"><strong dir="rtl">إضافة أخيرة:</strong></p>
            <p dir="rtl">كذلك تذكر أن كل مرة تقوم فيها بتطوير واجهة موقع وتأخذ الـ Semantic Elements في عين الإعتبار بأنك قد تسهل على الكثير من الأشخاص الوصول للمعلومات التي في الموقع, شاهد الفيديو<br></p>
            <iframe class="image" src="https://www.youtube.com/embed/dEbl5jvLKGQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
            <hr>
         </div>
      </div>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>
