<!DOCTYPE html>
{% load static%}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>[الدرس الرابع]: عناصر div, p and span والفرق بينهم</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/github.min.css'%}">
<script src="{% static 'js/highlight.pack.js'%}"></script>
   </head>
   <body>
      <div class="navbar">
         <div class="navbar-brand">
            <div class="">
               Academy
            </div>
         </div>
         <div class="icon-container">
            <div class="humberger-icon">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
         <div class="navbar-nav">
            <nav>
               <div class="close">
                  أغلق <i class="fas fa-times"></i>
               </div>
               <a href="{% url 'home' %}">الرئيسية</a>
               <a href="{% url 'category' category='html_css' %}">HTML & CSS</a>
               <a href="{% url 'category' category='javascript' %}">JavaScript</a>
               <a href="{% url 'category' category='git' %}">Git</a>
               <a href="{% url 'category' category='projects' %}">المشاريع</a>
            </nav>
         </div>
      </div>
      <div class="container">
         <div class="cooked">
            <h1>عناصر div و p و span والفرق بينهم</h1>
            <hr>
            <h2 dir="rtl">عناصر div, p and span والفرق بينهم</h2>
            <p dir="rtl">في الدرس السابق تكلمنا عن عناصر الـ block و الـ inline وفي هذا الدرس سنتكلم عن بعض أهم العناصر التي سنتحتاح أن نفهمها قبل ان نبدأ في التطبيق على أي مشروع.</p>
            <h2 dir="rtl"><strong dir="rtl">وسم Div</strong></h2>
            <p dir="rtl">المرة القادمة عندما تشاهد اي موقع قم بتخيل وجود صناديق وهمية تضم عناصرة كما بالصورة التالية:</p>
            <img class="image" src="{% static 'images/html_css/4/1.jpg'%}">
            <ul dir="rtl">
               <li dir="rtl">نستخدم وسم <code dir="ltr">&lt;div&gt;</code> لتقسيم الموقع لاجزء معينة حتى نستطيع تطبيق تصميم معين عليها بإستخدام لغة التنسيقات CSS</li>
               <li dir="rtl">جميع العناصر يمكن ضمها بداخل العنصر <code dir="ltr">div</code></li>
            </ul>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;div&gt;</span>
<span style="color: #8f5902; font-style: italic">&lt;!--other elements--&gt;</span>
<span style="color: #8f5902; font-style: italic">&lt;!--هنا العناصر الأخرى--&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;/div&gt;</span>
</pre>
            </div>
            <p dir="rtl"><strong dir="rtl">مثال</strong> :</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;div&gt;</span>
 <span style="color: #204a87; font-weight: bold">&lt;h1&gt;</span>hello world!<span style="color: #204a87; font-weight: bold">&lt;/h1&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;/div&gt;</span>
</pre>
            </div>
            <p dir="rtl"><strong dir="rtl">النتيجة:</strong></p>
            <h1 dir="ltr">hello world!</h1>
            <hr>
            <h2 dir="rtl">وسم p</h2>
            <p dir="rtl">كذلك في المرة القادمة عندما تشاهد فقرة ما في أي موقع قم بتخيل صندوق وهمي حولها ولكنه خاص بالنصوص فقط هذه المرة</p>
            <img class="image" src="{% static 'images/html_css/4/2.jpg'%}">
            <ul dir="rtl">
               <li dir="rtl">حيث نستخدم وسمَي <code dir="ltr">&lt;p&gt;</code> لكتابة الفقرات (paragraph) فقط وتطبيق تصميم معين عليها بإستخدام لغة التنسيقات CSS</li>
               <li dir="rtl">لا يمكنك ضم أي عنصر بداخل هذا الوسم الا اذا كان عنصر لعمل تنسيقات على النصوص مثل وسم <code dir="ltr">&lt;strong&gt;&lt;/strong&gt;</code></li>
            </ul>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;p&gt;</span>
 <span style="color: #8f5902; font-style: italic">&lt;!--only text and text formating tags--&gt;</span>
 <span style="color: #8f5902; font-style: italic">&lt;!--هنا فقط نصوص و وسوم تنسيق النصوص--&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;/p&gt;</span>
</pre>
            </div>
            <p dir="rtl"><strong dir="rtl">مثال</strong> :</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;p&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;strong&gt;</span>hello <span style="color: #204a87; font-weight: bold">&lt;em&gt;</span>world!<span style="color: #204a87; font-weight: bold">&lt;/em&gt;&lt;/strong&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;/p&gt;</span>
</pre>
            </div>
            <p dir="rtl"><strong dir="rtl">النتيجة:</strong></p>
            <p dir="ltr"><strong dir="ltr">hello <em dir="ltr"> world!</em></strong></p>
            <p dir="rtl">لا يمكنك وضع <code dir="ltr">div</code> بداخل <code dir="ltr">p</code> ولكن العكس صحيح.</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;p&gt;</span>
  <span style="color: #204a87; font-weight: bold">&lt;div&gt;</span>هذا الكود غير صحيح<span style="color: #204a87; font-weight: bold">&lt;/div&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;/p&gt;</span>
</pre>
            </div>
            <hr>
            <h2 dir="rtl">وسم span</h2>
            <p dir="rtl">هذا الوسم كذلك خاص بالنصوص فيتم إستخدامة لعمل تنسيق معين لجزء معين من النص</p>
            <img class="image" src="{% static 'images/html_css/4/3.jpg'%}">
            <p dir="rtl"><strong dir="rtl">مثال:</strong></p>
            <p dir="rtl">قمنا بعمل فقرة بإستخدام وسم <code dir="ltr">&lt;p&gt;</code> وعملنا لها استايل يغير لون الفقرة الى الأحمر</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;p</span> <span style="color: #c4a000">style=</span><span style="color: #4e9a06">"color:red;"</span><span style="color: #204a87; font-weight: bold">&gt;</span>
   Hello World!
<span style="color: #204a87; font-weight: bold">&lt;/p&gt;</span>
</pre>
            </div>
            <p dir="rtl"><strong dir="rtl">هذه النتيجة:</strong><br></p>
            <img class="image" src="{% static 'images/html_css/4/4.jpg'%}">
            <p dir="rtl">لنفترض أننا نريد أن نغير لون كلمة <code dir="ltr">World!</code> وحدها للون الأزرق</p>
            <p dir="rtl">في هذه الحالة سنستخدم وسم <code dir="ltr">&lt;span&gt;</code> لان وجوده لا يؤثر على الجملة الا اذا تم تحديد تنسيق معين له.</p>
            <p dir="rtl">في الكود التالي تم تحويط كلمة <code dir="ltr">World!</code> بإستخدام وسم <code dir="ltr">span</code> وتم إضافة تنسيق تغيير اللون للازرق</p>
            <div class="code">
               <pre style="margin: 0; line-height: 125%"><span style="color: #204a87; font-weight: bold">&lt;p</span> <span style="color: #c4a000">style=</span><span style="color: #4e9a06">"color:red;"</span><span style="color: #204a87; font-weight: bold">&gt;</span>
  Hello <span style="color: #204a87; font-weight: bold">&lt;span</span> <span style="color: #c4a000">style=</span><span style="color: #4e9a06">"color:blue;"</span><span style="color: #204a87; font-weight: bold">&gt;</span>World!<span style="color: #204a87; font-weight: bold">&lt;/span&gt;</span>
<span style="color: #204a87; font-weight: bold">&lt;/p&gt;</span>
</pre>
            </div>
            <p dir="rtl"><strong dir="rtl">النتيجة:</strong><br></p>
            <img class="image" src="{% static 'images/html_css/4/5.jpg'%}">
            <hr>
            <p dir="rtl"><strong dir="rtl">في الختام  تذكر التالي:</strong></p>
            <ul dir="rtl">
               <li dir="rtl">دائماً وسمي الـ p و الـ span تأتي بدأخل الـ div.</li>
               <li dir="rtl">لا تقم بوضع وسم div بداخل وسم p او span.</li>
               <li dir="rtl">بإمكانك وضع وسم span مباشرة بداخل وسم div.</li>
            </ul>
            <img class="image" src="{% static 'images/html_css/4/6.jpg'%}">
         </div>
      </div>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>
