<!DOCTYPE html>
{% load static%}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>[الدرس السادس]: Basic Structure of an HTML Document</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
      <link rel="stylesheet" href="{% static 'css/github.min.css'%}">
      <script src="{% static 'js/highlight.pack.js'%}"></script>
   </head>
   <body>
      <div class="navbar">
         <div class="navbar-brand">
            <div class="">
               Academy
            </div>
         </div>
         <div class="icon-container">
            <div class="humberger-icon">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
         <div class="navbar-nav">
            <nav>
               <div class="close">
                  أغلق <i class="fas fa-times"></i>
               </div>
               <a href="{% url 'home' %}">الرئيسية</a>
               <a href="{% url 'category' category='html_css' %}">HTML & CSS</a>
               <a href="{% url 'category' category='javascript' %}">JavaScript</a>
               <a href="{% url 'category' category='git' %}">Git</a>
               <a href="{% url 'category' category='projects' %}">المشاريع</a>
            </nav>
         </div>
      </div>
      <div class="container">
         <div class="cooked">
            <h1 dir="rtl">الهيكل الأساسي لصفحة الويب</h1>
            <hr>
            <p dir="rtl">في هذا الدرس سنتعرف على البنية الأساسية لأي مستند HTML</p>
            <pre>
              <code>&lt;!doctype html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Untitled Document&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
  &lt;/body&gt;
&lt;/html&gt;</code>
            </pre>
            <ul dir="rtl">
               <li dir="rtl">قم في بدأية الكود بتحديد نوع مستند الـ HTML الذي سنعمل علية في هذه الحالة سنستخدم HTML5 ولتحديد ذلك نستخدم الكود التالي:</li>
            </ul>
            <pre>
              <code>&lt;!doctype html&gt;</code>
            </pre>
            <p dir="rtl">لا تقوم بوضع أي كود قبل كود تعريف نوع المستند حتى وإن كان تعليق</p>
            <hr>
            <ul dir="rtl">
               <li dir="rtl">
                  <p dir="rtl"><strong dir="rtl">منطقة الـ head</strong> تستخدم بشكل خاص لـ  metadata  (البيانات الوصفية) كعنوان الصفحة, ترميز الصفحة, وصف الصفحة, الكلمات المفتاحية وغيرها من البيانات التي تكون مفيدة لعرض بيانات صفحتك عند البحث عليها على قوقل على سبيل المثال.</p>
               </li>
               <li dir="rtl">
                  <p dir="rtl">كذلك سنقوم بتعريف التنسيقات او اكواد الجافاسكربت في هذه المنطقة اما بشكل مباشر او عن طريق وضع وسوم تقوم بربط الصفحة بملفات خارجية.</p>
               </li>
            </ul>
            <hr>
            <p dir="rtl"><strong dir="rtl">منطقة الـ body</strong>: هي منطقة جسم الصفحة والتي سنضع فيها كل العناصر من صور ونصوص وجداول وغيرها.</p>
            <hr>
            <img class="image" src="{% static 'images/html_css/6/1.jpg'%}">
            <p dir="rtl">وسم <code dir="ltr">&lt;meta charset="utf-8"&gt;</code>  ليس من العناصر الأساسية ولكن حتى نتجنب أي مشاكل مع ترميز اللغة العربية قم بوضعة دائماً قبل أي شي حتى قبل وسم الـ Title.</p>
            <hr>
            <ul dir="rtl">
               <li dir="rtl">
                  <strong dir="rtl">ملاحظة هامة: عند قيامك بكتابة أكواد الـ HTML فكر كأنك تصنع ساندويتش <img src="{% static 'images/html_css/6/2.png'%}" title=":sandwich:" class="emoji" alt=":sandwich:" style="width:30px;"> وتأكد من فتح و إغلاق كل وسم في المكان المناسب شاهد الصورة التالية حتى تفهم قصدي:</strong><br>
                  <img class="image" src="{% static 'images/html_css/6/3.jpg'%}">
               </li>
            </ul>
            <hr>
            <p dir="rtl">في هذه المرحلة يفترض أن الجميع قد أصبح قادر على إنشاء صفحة ويب وكتابة أكواد البنية الأساسية ويعرفها جيداً لهذا لن أتكلم بأي تفاصيل مملة فقط أحببت على أن نؤكد بأن هذه هي أهم الوسوم التي الأساسية والتي ستكون حجر الأساس لمشاريعنا القادمة فاذا لديك أي إستفسار ارجوا وضعة بالتعليقات.</p>
         </div>
      </div>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>
