<!DOCTYPE html>
{% load static%}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>[الدرس السابع]: CSS Implementation</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
      <link rel="stylesheet" href="{% static 'css/github.min.css'%}">
      <script src="{% static 'js/highlight.pack.js'%}"></script>
   </head>
   <body>
      <div class="navbar">
         <div class="navbar-brand">
            <div class="">
               Academy
            </div>
         </div>
         <div class="icon-container">
            <div class="humberger-icon">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
         <div class="navbar-nav">
            <nav>
               <div class="close">
                  أغلق <i class="fas fa-times"></i>
               </div>
               <a href="{% url 'home' %}">الرئيسية</a>
               <a href="{% url 'category' category='html_css' %}">HTML & CSS</a>
               <a href="{% url 'category' category='javascript' %}">JavaScript</a>
               <a href="{% url 'category' category='git' %}">Git</a>
               <a href="{% url 'category' category='projects' %}">المشاريع</a>
            </nav>
         </div>
      </div>
      <div class="container">
         <div class="cooked">
            <h1 dir="rtl">طرق إستخدام أكواد CSS في صفحات HTML</h1>
            <hr>
            <p dir="rtl">سنشرح ثلاث طرق ونجرب عليها أمثلة تطبيقية<br></p>
            <img class="image" src="{% static 'images/html_css/7/1.png'%}">
            <p></p>
            <h1 dir="rtl">الطريقة الأولى: أضافة أكواد <code dir="ltr">CSS</code> لوسم <code dir="ltr">HTML</code> مباشرة</h1>
            <p dir="rtl"><strong dir="rtl">مثال:</strong></p>
            <pre>
              <code>&lt;!doctype html&gt;
&lt;html&gt;
   &lt;head&gt;
      &lt;title&gt;One Million Arab Coders&lt;/title&gt;
   &lt;/head&gt;
   &lt;body style="background-color: black;"&gt;
      &lt;p style="color:white; font-size:25px;"&gt;One million Arab Coders&lt;/p&gt;
   &lt;/body&gt;
&lt;/html&gt;</code>
            </pre>
            <p dir="rtl"><strong dir="rtl">النتيجة:</strong></p>
            <p></p>
            <img class="image" src="{% static 'images/html_css/7/2.jpg'%}">
            <p></p>
            <p dir="rtl">الذي قمت بعملة هو أضافة خاصية <code dir="ltr">style</code> لوسم <code dir="ltr">body</code> وتغيير لون الخلفية للأسود بإستخدام خاصية <code dir="ltr">background-color</code> كما في التالي</p>
            <pre>
              <code>&lt;body style="background-color: black;"&gt;</code>
            </pre>
            <p dir="rtl">واضفت <code dir="ltr">style</code> لوسم <code dir="ltr">p</code> وقمت بتغيير لون الخط وحجمة</p>
            <pre>
              <code>&lt;p style="color:white; font-size:25px;"&gt;</code>
            </pre>
            <p dir="rtl">لا ينصح بإستخدام هذه الطريقة لإضافة أكواد ال CSS لعناصر <code dir="ltr">HTML</code> وذلك لانه عند كتابتك لملف <code dir="ltr">HTML</code> لنقول يتكون من <code dir="ltr">1000</code> سطر وقتها إضافة ال <code dir="ltr">CSS</code> بهذه الطريقة سيزيد حجم الملف و سيكون من الصعب عمل التعديلات على التصميم ناهيك عن التقسيم والترتيب السئ للاكواد.</p>
            <hr>
            <h1 dir="rtl">الطريقة الثانية: تضمين أكواد ال <code dir="ltr">CSS</code> بداخل مستند <code dir="ltr">HTML</code> بشكل مباشر</h1>
            <p dir="rtl">هذه الطريقة أنظف من السابقة حيث بإمكانك كتابة أكواد ال <code dir="ltr">CSS</code> بداخل وسم <code dir="ltr">style</code></p>
            <pre>
              <code>&lt;style&gt;
  /* هنا الأكواد */
&lt;/style&gt;</code>
            </pre>
            <p dir="rtl">يتم وضع هذا الوسم في منطقة ال<code dir="ltr">head</code></p>
            <p dir="rtl"><strong dir="rtl">كالتالي:</strong></p>
            <pre>
              <code>&lt;!doctype html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;One Million Arab Coders
    &lt;/title&gt;
    &lt;style&gt;
      body{
        background-color:black;
      }
      .paragraph{
        color:white;
        font-size:25px;
      }
    &lt;/style&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p class="paragraph"&gt;One million Arab Coders
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;</code>
            </pre>
            <p dir="rtl"><strong dir="rtl">النتيجة كما في التصميم السابق:</strong></p>
            <p></p>
            <img class="image" src="{% static 'images/html_css/7/3.jpg'%}">
            <p></p>
            <p dir="rtl">في هذا الكود تم إستهداف وسم <code dir="ltr">body</code> وتغيير لون خلفيته</p>
            <pre>
              <code>body {
  background-color: black;
 /*تغيير لون الخلفية للأسود*/
}</code>
            </pre>
            <p dir="rtl">وبنفس الفكرة مع وسم <code dir="ltr">p</code> قمنا بإعطائة إسم كلاس <code dir="ltr">paragraph</code> وإستخدمناه لإضافة التنسيقات كالتالي:</p>
            <pre>
              <code>.paragraph {
  color: white;
 /*تغيير لون الخط للأبيض*/
  font-size: 25px;
 /*تغيير حجم الخط*/
}</code>
            </pre>
            <p dir="rtl">ما يميز هذه الطريقة عن التي قبلها أنك تقوم بكتابة الأكواد في منطقة واحدة مما يسهل عليك عمل التعديلات لكن يضل لها تكلفة في حال كان حجم الكود كبير</p>
            <hr>
            <h1 dir="rtl">الطريقة الثالثة: ربط مستند HTML بملف CSS منفصل</h1>
            <p dir="rtl">في هذه الطريقة تقوم بإنشاء ملفين منفصلين الأول خاص بأكواد ال <code dir="ltr">HTML</code> والثاني خاص بأكواد ال <code dir="ltr">CSS</code> ثم تقوم بربط ملف ال <code dir="ltr">HTML</code> بملف التنسيقات عن طريق إستيرادة بإستخدام كود HTML التالي:</p>
            <pre>
              <code>&lt;link rel="stylesheet" type="text/css" href="style.css" /&gt;</code>
            </pre>
            <p dir="rtl">حيث تم فية تحديد موقع واسم الملف الخاص بال <code dir="ltr">CSS</code> والذي أسمة <code dir="ltr">style.css</code> ويتم وضع هذا الكود في منطقة ال <code dir="ltr">head</code> كالتالي:</p>
            <pre>
              <code>&lt;!doctype html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;One Million Arab Coders&lt;/title&gt;
    &lt;link rel="stylesheet" type="text/css" href="style.css"/&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p&gt;One million Arab Coders&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;</code>
            </pre>
            <p dir="rtl">الان بداخل ملف <code dir="ltr">style.css</code> سأقوم بتحديد الخصائص كما قمنا في الطريقة الثانية ولكن هذه المرة لا نحتاج لتحويطها بوسم <code dir="ltr">style</code> كونه قد تم تحديد نوع الملف بأنه ملف تنسيقات <code dir="ltr">CSS</code>:</p>
            <pre>
              <code>body {
  background-color: black;
}
p {
  color: white;
  font-size: 25px;
}</code>
            </pre>
            <p dir="rtl">هذه تعتبر أفضل طريقة لكتابة أكواد <code dir="ltr">HTML</code> حيث أن فصل ملف التنسيقات عن صفحة ال <code dir="ltr">HTML</code> يساعدنا على ربطها بأكثر من صفحة وتطبيق نفس التنسيقات على الصفحات المرتبطة بها وكذلك عمل التعديل على التنسيقات بملف واحد وتطبيقة على أكثر من ملف <code dir="ltr">HTML</code> بالإضافة إلى ان فصل الملفات بهذه الطريقة يساعد على تنظيم الأكود وتقسيم ملفات الموقع.</p>
            <hr>
         </div>
      </div>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>
